<article class="banner_offer">
    <div class="container">
        <div style="width: 100%; text-align: center; ">
            <div >
                <ul class="thumbnails">
                    <li class="span3">
                        <a href="#/cat/5.2.0">
                            <img class="static_ad_image" alt="Click to get 20% off in Watches" height="200"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/electronics/accesories.jpg" width="200" /> <!-- mobiles_sony -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/5.1.0">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/electronics/fujifilm.jpg" width="200" /><!-- Men_adidas_shoes banner -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/5.2.6">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/electronics/memorycard.jpg" width="200" /><!-- Sony_headphones banner -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/5.2.7">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/electronics/pendrive.jpg" width="200" /><!-- Sony_headphones banner -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/5.2.3">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/electronics/enzatec.jpg" width="200" /><!-- Sony_headphones banner -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/5.2.1">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/electronics/ucb_1.jpg" width="200" /><!-- Sony_headphones banner -->
                        </a>
                    </li>
                </ul>
            </div>
            <!--<div class="row-fluid">-->
            <!--<ul class="thumbnails">-->

            <!--<li class="span4">-->
            <!--<a  href="#/cat/2.6.0">-->
            <!--<img alt="" class="static_ad_image"  src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/men/nike.jpg" width="200" /> &lt;!&ndash; Men_puma_shoes banner &ndash;&gt;-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="span4">-->
            <!--<a  href="#/cat/4.2.0">-->
            <!--<img alt="" class="static_ad_image"  src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/kids/crocskidscollection.jpg" width="200" /> &lt;!&ndash; kids_crocs banner &ndash;&gt;-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
</article>

</body>
</html>

