﻿
<br><br>
    <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <a href="#/main/cat/1.1.6">
                        <img class="static_ad_image" alt="Click to get 20% off in Watches"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/puma/1roundnecktshirt1.jpg"
                             width="300" />
                    </a>
                </div>
                <div class="col-md-4">
                    <a  href="#/main/cat/1.1.4">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/puma/1sweaters1.jpg"
                             width="300" /><!-- Men_adidas_shoes banner -->
                    </a>
                </div>
                <div class="col-md-4">
                    <a  href="#/main/cat/1.1.1">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/puma/1womens t-shirt1.jpg"
                             width="300" /><!-- Sony_headphones banner -->
                    </a>
                </div>

            </div>
           <!-- <br/>
            <div class="row">
                <div class="col-md-4">
                    <a  href="#/main/cat/1.1.4">
                    <img alt="" class="static_ad_image"
                         src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/puma/sweaters3.jpg" width="300" /> 
                    </a>
                </div>
                <div class="col-md-4">
                    <a  href="#/main/cat/1.1.3">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/puma/tracksuit2.jpg" width="300" /> 
                    </a>
                </div>
                <div class="col-md-4">
                    <a  href="#/main/cat/2.1.1">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/puma/womenstshirt1.jpg" width="300" /> 
                    </a>
                </div> 

            </div>-->

        </div>
