
<div class="container">
    <header>
        <!--<h3> &nbsp</h3>-->
    </header>
    <br/>
    <!-- Start: category details -->
    <div class="container cat-details">

        <div class="cat_body_container">

            <div class="right_side">

          <div ng-repeat="cat in cat_details.brand_cat_associate">

                 <div class="float-r" >
                  <a class="breadcums_bg" href="#/main/cat/{{cat.catlevel_1}}">{{cat.catlevel1_name}}
                  <img src="images/arrow-right.png" />
                  </a>
                 </div>
                 <div class="float-r" >
                   <a class="breadcums_bg" href="#/main/cat/{{cat.catlevel_2}}">{{cat.catlevel2_name}}
                       <img src="images/arrow-right.png" />
                   </a>
                 </div>
                 <div class="float-r">
                   <a class="breadcums_bg" href="#/main/cat/{{cat.catlevel_3}}">{{cat.catlevel3_name}}</a>
                 </div>



        </div>
                </div>

        </div>
        <!-- end: category details -->


    </div>

</div>


<!--<div class="float-r" ng-repeat="cat in cat_details.brand_cat_associate">-->

                <!--<li>-->
                <!--<a href="#/main/cat/{{cat.catlevel_2}}">{{cat.catlevel2_name}}</a>-->

                <!--</li>-->
                <!--</div>-->


                <!--<div class="float-r" ng-repeat="cat in cat_details.brand_cat_associate">-->

                <!--<li>-->

                <!--<a href="#/main/cat/{{cat.catlevel_3}}">{{cat.catlevel3_name}}</a>-->

                <!--</li>-->
                <!--</div>-->


                <!--<div class="float-r">-->

                    <!--<li>-->
                        <!--<a href="#/main/cat/{{level1_id}}">{{Level1}}</a>-->

                    <!--</li>-->
                <!--</div>-->

                <!--<div class="float-r">-->

                    <!--<li>-->
                        <!--<a href="#/main/cat/{{level2_id_cat}}">{{Level2_cat}}</a>-->

                    <!--</li>-->
                <!--</div>-->

                <!--<div class="float-r" ng-repeat="cat in cat_level_3_men">-->

                    <!--<li>-->

                        <!--<a href="#/main/cat/{{cat.level_3_id}}">{{cat.level_3}}</a>-->

                    <!--</li>-->
                <!--</div>-->




                <!--<div class="float-r">-->

                    <!--<li>-->
                        <!--<a href="#/main/cat/{{level2_id}}">{{Level2}}</a>-->

                    <!--</li>-->
                <!--</div>-->

                <!--<div class="float-r">-->

                    <!--<li>-->
                        <!--<a href="#/main/cat/{{level2_id_cat_woman}}">{{Level2_cat_woman}}</a>-->

                    <!--</li>-->
                <!--</div>-->





                <!--<div class="float-r" style="margin-left: 74px;">CAT2</div>-->

                <!--<div class="float-r" style="margin-left: 45px;">CAT3</div>-->


                <!--<li style="list-style-type: none;" >-->
            <!--<span class="cat_image">-->

                <!--<a ng-click="go_to_page('bulkgrass');">-->
                    <!--<!--<img style="width: 320px;margin-left: 13px;" ng-src="http://cdn-new-annectos.s3.amazonaws.com/images/brandlogo/n/grassbulk.png" src="http://cdn-new-annectos.s3.amazonaws.com/images/brandlogo/n/grassbulk.png">-->

                    <!---->

                <!--</a>-->




            <!--</span>-->




                <!--</li>-->

                <!--<li style="list-style-type: none;">-->

                   <!--<span class="cat_image">-->

                <!--<a ng-click="go_to_page('puma');">-->
                    <!--<img style="width: 320px;margin-left: 13px;" ng-src="http://cdn-new-annectos.s3.amazonaws.com/images/brandlogo/n/puma.jpg" src="http://cdn-new-annectos.s3.amazonaws.com/images/brandlogo/n/puma.jpg">-->
                <!--</a>-->



            <!--</span>-->

                    <!--<p class="cat_title ng-binding">Go To Puma Brand</p>-->

                <!--</li>-->






