<div class="black_cover" id="check">
	<div class="popup_bg" >
		<div class="pop_heading">
			<img src="images/pop_close.png" ng-click="close()" />
		</div>
		 <div class="tab_content_section">
		     
			 <span>
                    <label>Name: annectos reward & retail pvt ltd</label>
                    <!--<label>annectos</label>					-->
                    
             </span>
              <span>
                    <label>Bank: ICICI</label>
                    <!--<label>annectos</label>					-->

             </span>
              <span>
                    <label>Acc No: 625305016988</label>
                    <!--<label>annectos</label>					-->

             </span>
              <span>
                    <label>Branch: Kumarapark</label>
                    <!--<label>annectos</label>					-->

             </span>
             <span>
                    <label>IFSC Code: ICIC006253</label>
                    <!--<label>annectos</label>					-->

             </span>
		     
			 <span>
                    <label>Bank:</label>                               
                    <input type="text" value="" name="email"  ng-model="transact_details.bank_name" />
             </span>
			  <span>
                    <label>Transaction Id:</label>                               
                    <input type="text" value="" name="email" ng-model="transact_details.transaction_no" />
             </span>
			 
			 <span>
                    <label>Transaction Date:</label>                               
                    <input type="text" value="" name="email" ng-model="transact_details.date"  />
             </span>
			 <span>
                                <!--<a href="#/forgot_password" class="forgott">Forgot Password?</a>-->
              <input style="border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;" type="submit" value="Send" ng-click="bank_details_save()"  />
                            </span>
		 </div>
	</div>
</div>