
<div class="container">
    <header>
        <!--<h3> &nbsp</h3>-->
    </header>
    <br/>
    <!-- Start: category details -->
    <div class="container cat-details">

        <div class="cat_body_container">

            <span class="right_side">
            <ul class="category-details">

            <li style="list-style-type: none;" ng-repeat="brnd in brand">
            <span class="cat_image">

                <a style="cursor:pointer" ng-click="go_to_page(brnd.name);">
                    <!--<img style="width: 320px;margin-left: 13px;" ng-src="{{brnd.link}}">-->
                    <img style="width: 320px;" ng-src="{{brnd.link}}">
                </a>

            </span>

                <p style="text-align:center" class="cat_title ng-binding">Go To {{brnd.name}}</p>


            </li>

                <!--<li style="list-style-type: none;">-->

                   <!--<span class="cat_image">-->

                <!--<a ng-click="go_to_page('puma');">-->
                    <!--<img style="width: 320px;margin-left: 13px;" ng-src="http://cdn-new-annectos.s3.amazonaws.com/images/brandlogo/n/puma.jpg" src="http://cdn-new-annectos.s3.amazonaws.com/images/brandlogo/n/puma.jpg">-->
                <!--</a>-->



            <!--</span>-->

                    <!--<p class="cat_title ng-binding">Go To Puma Brand</p>-->

                <!--</li>-->




            </ul>

</span>

        </div>
        <!-- end: category details -->





    </div>

</div>
