
<div class="container">
    <header>
        <!--<h3>&nbsp</h3>-->
    </header>
    <br/>
    <div class="row" style="margin-left: 2px">
        <div class="breadcums_bg">
            <a href="#/main/home">Home</a>
                <span data-ng-repeat="cat in cats">
                    >>
                    <!--<a href="../cat1.html#/{{cat.id}}">    {{cat.Name}} </a>-->
                    <a ng-show="cat.level == 1" class="breadcums_bg" href="/main/cat1.html#/{{cat.id}}"> {{cat.Name}}  </a>
                    <a ng-show = "cat.level > 1" class="breadcums_bg" href="#/main/cat/{{cat.id}}"> {{cat.Name}}  </a>

                </span>
            <!--<a href="#/prod/{{product_id}}">{{productDetails.Name}}</a>-->
            <!--Breadcrumb to be implemented-->
        </div>

    </div>
    <!-- Start: product view -->
    <div style="height: auto;margin-top: 0px;" class="container productviewSec">
        <div class="mainimgcontainer" style="width: 100%;">
            <ul class="innercontainercart">

                <h2 style="font-size: 30px;"> ORDER TOTAL : Rs: <label>{{total_order_amount}}</label></h2>

                <div style="border-top:1px solid #ccc; text-align: right; margin-top: 5px; padding-top: 5px;" class="quantityBoxText"> <button style="padding: 5px; border: 1px solid #efcf0a; font-weight: bold;" type="button" ng-disabled="order_quantity < 9" data-ng-click="triggerCheckOut()">PLACE ORDER</button></div>

                <li class="prooductlist">
                    <div class="prooductlistscroll">
                        <div class="cartproduct" data-ng-repeat="cart_item in cart">
                            <div class="prod_thumb">
                                <img src="{{cart_item.parent_prod_detail.image_urls[0].zoom_link}}" />
                            </div>
                            <div class="proddetails">
                                <div class="prod_dtls">
                                    <div class="prodname">{{cart_item.parent_prod_detail.Name}}</div>
                                    <div class="prodcode">Product Code: {{cart_item.parent_prod_detail.sku}}</div>
                                </div>
                                <div class="controll">
                                    <img src="images/pop_close.png" style="float: right;" data-ng-click="delete_from_cart(cart_item)" />
                                    <!--<a class="delete" data-ng-click="delete_from_cart(cart_item)">edit</a>-->
                                </div>
                                <div class="size">
                                    <h1 style="font-size: 14px;">ORDER DETAILS </h1>
                                    <div class="subtotal">
                                        <table class="table table-bordered">
                                            <!--<thead>-->
                                            <!--<tr>-->
                                            <!--<th width="100" style="text-align: center;padding:25px;">Size</th>-->
                                            <!--<th width="100" style="text-align: center;padding:25px;">Quantity</th>-->
                                            <!--<th width="100" style="text-align: center;padding:25px;">Stock Info</th>-->

                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <tbody>

                                            <tr >
                                                <td class="tdhead">Size</td>
                                                <td data-ng-repeat="ocp in cart_item.child_prod_detail" style="text-align: center">{{ocp.size}}</td>
                                            </tr>
                                            <tr >
                                                <td class="tdhead">Quantity</td>
                                                <td data-ng-repeat="ocp in cart_item.child_prod_detail" style="text-align: center"><input type="text" style="margin-bottom:5px; width:65px;" ng-change="changeorderqty(cart_item)" ng-model="ocp.ord_qty"/></td>
                                                <!--<td style="text-align: center">{{ocp.stock_msg}}</td>-->
                                                <!--<td>Pending Approval</td>-->
                                            </tr>
                                            <tr >
                                                <td class="tdhead">Stock Info</td>
                                                <td data-ng-repeat="ocp in cart_item.child_prod_detail" style="text-align: center">{{ocp.stock_msg}}</td>
                                                <!--<td>Pending Approval</td>-->
                                            </tr>

                                            <!--<tr  data-ng-repeat="ocp in cart_item.child_prod_detail">-->
                                            <!--<td style="text-align: center">{{ocp.size}}</td>-->
                                            <!--<td style="text-align: center"><input type="text" style=" width:200px;" ng-change="changeorderqty(cart_item)" ng-model="ocp.ord_qty"/></td>-->
                                            <!--<td style="text-align: center">{{ocp.stock_msg}}</td>-->
                                            <!--&lt;!&ndash;<td>Pending Approval</td>&ndash;&gt;-->
                                            <!--</tr>-->
                                            </tbody>
                                        </table>



                                        <!--<input type="button" id="Test" value="Hello" data-ng-click="TestSizeQty()">-->
                                    </div>

                                    <div class="prod_price">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="tdhead" width="100" style="text-align: center;padding: 25px;">Quantity</th>
                                                <th class="tdhead" width="100" style="text-align: center;padding: 25px;">Price (INR)</th>
                                                <th class="tdhead" width="100" style="text-align: center;padding: 25px;">Discount % </th>
                                            <!--    <th class="tdhead" width="100" style="text-align: center;padding: 25px;">In Karnataka</th>
                                                <th class="tdhead" width="100" style="text-align: center;padding: 25px;">Outside Karnataka</th> -->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  data-ng-repeat="op in cart_item.parent_prod_detail.price">
                                                <td style="text-align: center">{{op.min_qty}}-{{op.max_qty}}</td>
                                                <td style="text-align: center">{{op.final_offer}}</td>
                                                <td style="text-align: center">{{op.discount}}</td>
                                            <!--  <td style="text-align: center">{{op.ka_shipping}}</td>
                                                <td style="text-align: center">{{op.other_shipping}}</td>-->
                                                <!--<td>Pending Approval</td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>

                                <div class="quantityBox" style="float: left">
                                    <div class="quantityBoxInput">
                                        <div class="quantityBoxInputLeft"><label style="width:205px;">Item Wise Order Quantity</label> <input type="text" style="width:250px;" ng-disabled="true" ng-model="cart_item.order_quantity" ></div>
                                        <div class="quantityBoxInputRight"><label style="width:205px;margin-left: 4px;">Item Wise Order Amount* </label><input type="text" style="width:250px;" ng-disabled="true" ng-model="cart_item.order_amount"></div>
                                    </div>

                                </div>



                            </div>

                        </div>
                    </div>
                    <h2 style="font-size: 30px;"> ORDER TOTAL : Rs: <label>{{total_order_amount}}</label></h2>

                    <div style="border-top:1px solid #ccc; text-align: right; margin-top: 5px; padding-top: 5px;" class="quantityBoxText"><button style="padding: 5px; border: 1px solid #efcf0a; font-weight: bold;" type="button" ng-disabled="order_quantity < 1" data-ng-click="triggerCheckOut()">PLACE ORDER</button></div>
                </li>

            </ul>

        </div>

    </div>
    <!-- end: product view -->

    <!-- Start: product description -->
