


<div style="position: absolute; left: 0; top:0;">
    <!--position: absolute; left: 0; top:0; " >-->
    <div ng-controller="adController">

        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a href="{{slide.href}}">
                    <img ng-src="{{slide.image}}" style="width: 100%">
                </a>

            </slide>
        </carousel>

    </div>

</div>
<!-- End: HEADER TOP PART-->
</header>

<!--<div ng-include src="'partials/'+{{obj}}+'.html'"></div>-->
<div ng-controller="adController">
    <div ng-include src="template.url">
    </div>
</div>
