
<div class="container">
<header>
    <!--<h3>&nbsp</h3>-->
</header>
<br/>
<div class="container checkout">

<span class="title">Shipping Address</span>
<table class="checkout_table">
<tr>
<td width="316">

<span class="title_table">Select from previous shipping address</span>
<div style="height: 300px;">

        <ul class="address">
                    {{selected_address.name}}
                    {{selected_address.address}}                 
                    {{selected_address.city}}, {{selected_address.state}}
                    {{selected_address.pincode}}, Mobile: {{selected_address.mobile_number}}</li>
                    </ul>
</div>
</td>
    <td width="188">
        <span class="title_table">Enter sales Details</span>
        <!--<form class="ship_add_form" method="post">-->
        <div class="sales_entry">
				<span>
					<label>Name*</label>
                    <br>
					<input type="text" ng-model="selected_address.name" value=""/>
				</span>
				<span>
                    <br>
					<label>MobileNo</label>
                    <br>
					<input type="text" ng-model="selected_address.pincode" value=""/>
				</span>
        </div>
    </td>
</tr>
    <td width="288">
        <span class="title_table">Billing address</span>
        <!--<form class="ship_add_form" method="post">-->
        <div class="ship_add">
				<span>
					<label>Name*</label>
                    <br>
					<input type="text" ng-model="selected_address.name" value=""/>
				</span>
                <span>
                    <br>
					<label>Address*</label>
                    <br>
					<textarea type="text"  ng-model="selected_address.address" value=""></textarea>
				</span>
				<span>
                    <br>
					<label>Locality | Town*</label>
                    <br>
					<input type="text" ng-model="selected_address.pincode" value=""/>
				</span>
                <span>
                    <br>
					<label>City | District*</label>
                    <br>
					<input type="text" ng-model="selected_address.mobile_number" value=""/>
				</span>
				<span>
                    <br>
					<label>Company*</label>
                    <br>
					<input type="text" ng-model="selected_address.company" value=""/>
				</span>

                <span>
                    <br>
			    <label>Pincode*</label>
                        <br>
			    <input type="text" ng-model="selected_address.pincode" value=""/>
				</span>

				<span>
                    <br>
					<label>State*</label>
                      <br>
					<input type="text" ng-model="selected_address.state" value=""/>

				</span>

				<span>
                    <br>
					<label>Mobile No*</label>
                    <br>
					<input type="text" ng-model="selected_address.mobile_number" value=""/>
				</span>
				
				
        </div>
		
		<input type="checkbox"  /> Make this as your default address.This will be save in address book.
    </td>
    <td data-ng-controller="CartCtrl">
        <span class="title_table">Order summary <p>({{cart_size}} items)</p></span>
        <ul class="order">
            <li data-ng-repeat="cart_item in cart">
                <span class="img_con"><img src= "{{cart_item.parent_prod_detail.image_urls[0].zoom_link}}"></span>
                                    <span class="right_des">	                                  								
                                    <!--<span class="price" ng-show="store_type != 'P'">₹{{cart_item.final_offer * cart_item.quantity}}</span>
                                    <span class="price" ng-show="store_type == 'P'">{{cart_item.final_offer * cart_item.quantity * conv_ratio}} Points</span> -->
                                    <span class="prd_title">Name: {{cart_item.parent_prod_detail.Name}}</span>
                                    <span class="prd_code">Code: {{cart_item.parent_prod_detail.sku}}</span>
                                    <br/>QTY:
                                        <input type="text" data-ng-model="cart_item.order_quantity" value="{{cart_item.order_quantity}}" class="qt"/>
									<br/>Amount: 	
										<input type="text" data-ng-model="cart_item.order_amount" value="{{cart_item.order_amount}}" class="qt"/>
										

                                    
                                    <img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="../Content/custom_images/express.png" />
                                </span>
                                        </span>
            </li>
            <span class="scroll_bg"><span class="scroll"></span></span>
        </ul>
        <span class="shipping_r" ng-show="store_type != 'P'">Shipping<p>{{shipping}}</p></span>
        <span class="shipping_r" ng-show="store_type == 'P'">Shipping<p>{{express_shipping * conv_ratio}}</p></span>
        <span class="order_total" ng-show="store_type != 'P'"> order TOTAL<p>₹ {{total_order_amount}}</p></span>
       <!-- <span class="order_total" ng-show="store_type == 'P'"> order TOTAL<p> {{total_amount_billable * conv_ratio}} Points</p></span> -->
    </td>

</table>
   


</div>
    <!-- end: CHECKOUT -->


    <!-- End: content -->





</div>
</div>




















