
    <div class="container">
        <!-- Start: my account -->
        <div class="container my-account">
            <span class="title">My Account</span>
  <span class="left">
  <span class="left_bg">
	<ul>

        <li><a href="#/main/myprofile">My Profile</a></li>
        <li ><a href="#/main/myenquiry">My Enquiry</a></li>
        <li><a href="#/main/myorder">My Order</a></li>
        <li class="my-active"><a href="#/main/changepassword">Change Password</a></li><!--<li><a href="#/achievement">My Achievement</a></li>-->

        <!--<li><a href="#">My Wishlist</a></li>-->
        <!--<li><a href="#">My Product Reviews</a></li>-->
        <!--<li><a href="#">Newsletters</a></li>-->
    </ul>
	</span>
	<!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
    </span><style>
            .point_body span {
                display: block;
            }

            .point_body span label {
                display: inline-block;
                width: 120px;
            }

            .point_body span select {
                width: 71px;
            }

            .point_body .scorecard_body span label {
                display: inline-block;
                width: 100px;
            }

            .point_body .scorecard_body span input {
                display: inline-block;
                width: 105px;
                margin-right: 10px;
            }

            /*.checkout_table .added_address span label {
                display: inline-block;
                width: 105px;
            }*/
            .text_box{width: 208px;
                height: 32px;}
            .checkout_table .added_address span input {
                display: inline-block;
                width: 230px;
                margin-right: 10px;
            }

            .checkout_table .added_address span textarea {
                display: inline-block;
                width: 230px;
                margin-right: 10px;
            }

            .checkout_table .added_address span select {
                width: 244px;
            }

            .point_body .workinfo span {
                display: inline-block;
                width: 100px;
            }
        </style>

            <div class="right">
                <span class="heading">Change Password</span>
                <div class="point_body">
                    <!--<span class="point_summery_headimg">Order Summary</span>-->

                                <span>
                                    <label>User_Id</label>
                                    <input type="text" ng-model="email_id" ng-readonly="true" class="text_box" >

                                </span><br/>
                                <span>
                                    <label>Old Password</label>
                                    <input  type="password" ng-model="old_password"   class="text_box">
                                </span><br/>
                                <span>
                                    <label>New Password</label>
                                    <input  type="password" ng-model="new_password"  class="text_box">
                                </span><br/><br/>
                             <button type="submit" style="margin-left: 187px;"id="mybtn" data-ng-click="change_password()">Submit</button>
                   </span>
                   </div>
                   </span>


        </div>
        <!-- end: my account -->
    </div>

<!--ng-pristine ng-valid -->