<form name="frm">
<div class="container">
    <header>
        <h3>TALK TO US</h3>
    </header>
    <br/>
    <div class="container checkout">

        <div class="contusleft">
            <div class="leftheader">
                You Need :
            </div>
            <div class="spacer"></div>
            General Information<br />
            <div class="spacer"></div>
            <textarea name="generalinformation" data-ng-model="enquire.general_information" class="cutextarea" rows="5" cols="50"></textarea>
            <div class="spacer"></div>
            Product Information<br/>
            <div class="spacer"></div>
            <div class="contusleftsub">
                Product Code
                <div class="spacer"></div>
                <textarea name="productcode" data-ng-model="enquire.product_code" class="cutextarea" rows="5" cols="50"></textarea>
            </div>
            <div class="spacer"></div>
            <div class="contusleftsub">
                Additional Remarks
                <div class="spacer"></div>
                <textarea name="additionalremarks" data-ng-model="enquire.additional_remarks" class="cutextarea" rows="5" cols="50"></textarea>
            </div>
            <i>* Please select atleast one</i>
        </div>
        <div class="contusright">
            <div class="leftheader">


                ( * Fields are mandatory )
            </div>
            <div class="spacer"></div>
           * Name<br />
            <div class="spacer"></div>
            <input type="text" id="name" name="name" class="cutextbox" data-ng-model="enquire.name" required/>
            <span ng-show="frm.name.$dirty && frm.name.$error.required"  style="color: #ff0000 ">Required!</span>
            <div class="spacer"></div>
           * Mobile<br />
            <div class="spacer"></div>
            <input type="number" id="mobile" name="mobile_no" class="cutextbox" data-ng-model="enquire.mobile_no" required ng-minlength="10" ng-maxlength="12"/>
            <span ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.required"  style="color: #ff0000 "> Required! </span>
            <span ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.minlength" style="color: #ff0000 ">Not a valid mobile no.</span>
            <span ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.maxlength" style="color: #ff0000 ">Not a valid mobile no.</span>
            <div class="spacer"></div>
           * Email<br />
            <div class="spacer"></div>
            <input type="email" id="email" name="email" class="cutextbox" data-ng-model="enquire.email" required />
            <span ng-show="frm.email.$dirty && frm.email.$error.required"  style="color: #ff0000 ">Required!</span>
            <span ng-show="frm.email.$dirty && frm.email.$error.email"  style="color: #ff0000 ">not an email!</span>
            <div class="spacer"></div>
            City<br />
            <div class="spacer"></div>
            <select data-ng-model="enquire.operating_city" name="city" style="height: 35px; width: 70%" ng-options="city.text as city.text for city in city_list">
               <!--<option>Bangalore</option>-->
               <!--<option>Delhi</option>-->
               <!--<option>Mumbai</option>-->
               <!--<option>Chennai</option>-->
            </select>
            <div class="spacer"></div>
            Company Name<br />
            <div class="spacer"></div>
            <input type="text" name="mobile" class="cutextbox" data-ng-model="enquire.company_name" />
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="buttonspace">
                <input type="submit" ng-disabled="frm.$invalid" name="submit" class="cubutton" data-ng-click="SaveEnquireRecord()">
            </div>
        </div>
    </div>
    <!-- end: CHECKOUT -->


    <!-- End: content -->
</div>
    </form>



<div class="loader" ng-show="show_loader">

    <!--    <img src="images/loading_blue.gif"> -->
    <img src="images/LoadingIcon.gif">
</div>


















