<div class="black_cover" id="check">
	<div class="popup_bg">
		<div class="pop_heading">
			<img src="images/pop_close.png" ng-click="close()"/>
		</div>
		 <div class="tab_content_section">
			 <span>
                    <label>Cheque No:</label>                               
                    <input type="text" value="" name="email"  ng-model="check_details.check_no" />
             </span>
			  <span>
                    <label>Bank Name:</label>                               
                    <input type="text" value="" name="email" ng-model="check_details.bank_name" />
             </span>
			 
			 <span>
                    <label>Date:</label>                               
                    <input type="text" value="" name="email" ng-model="check_details.date"  />
             </span>
			 <span>
                                <!--<a href="#/forgot_password" class="forgott">Forgot Password?</a>-->
              <input style="border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;" type="submit" value="Send" ng-click="check_details_save()"  />
                            </span>
		 </div>
	</div>
</div>