


<div class="container">


<div class="container col-md-8">
    <form name="frm" class="myfirstform" role="form">

        <h3>Product Name: {{product_name}}</h3>
        <h3>Product Code: {{product_id}}</h3><br>


        <div class="right-table">

            <div class="subtotal">
                <table class="table table-bordered">
                    <tbody>
                    <tr >
                        <td class="tdhead">Size</td>
                        <td data-ng-repeat="ocp in child_product" style="text-align: center">{{ocp.size}}</td>
                    </tr>
                    <tr >
                        <td class="tdhead">Quantity</td>
                        <td data-ng-repeat="ocp in child_product" style="text-align: center"><input type="text" style="margin-bottom:5px; width:65px;" ng-change="cal_total_qty()" ng-model="ocp.ord_qty"/></td>
                    </tr>
                      <tr >
                        <td class="tdhead">Total Quantity*</td>
                        <td style="text-align: center"><input type="text" name="totalqty" style="margin-bottom:5px; width:65px;" ng-change="cal_total_enq_qty()"   ng-model="total_enq_qty" required/>
                            <span ng-show="frm.totalqty.$dirty && frm.totalqty.$error.required"  style="color: #ff0000 ">Required!</span></td>
                      </tr>
                     <tr>
                        <td class="tdhead">Total Quantity Wise Amount*</td>
                        <td style="text-align: center"><input type="text" readonly="readonly" name="totalqtywiseamount" style="margin-bottom:5px; width:65px;" ng-change=""   ng-model="total_enq_qty_wise_amount" required/>
                            <span ng-show="frm.totalqtywiseamount.$dirty && frm.totalqtywiseamount.$error.required"  style="color: #ff0000 ">Required!</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <!--<div class="form-group">-->

            <!--<label class="control-label">Size</label>-->
            <!--<div class="controls">-->
                <!--<div class="input-group" >-->
                    <!--<label data-ng-repeat="size in sizes" >-->

                 <!--<input type="radio"  data-ng-model="enquire.size" name="size" value ="{{size}}">{{size}}-->
                <!--</label>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label">Quantity*</label>-->
            <!--<div class="controls">-->
                <!--<div class="input-group">-->

                    <!--<input type="radio" ng-model="enquire.quantity" name="quantity" value="10 - 100" >10 - 100-->
                    <!--<input type="radio" ng-model="enquire.quantity" name="quantity" value="101 - 250">101 - 250-->
                    <!--<input type="radio" ng-model="enquire.quantity" name="quantity" value="251 - 500">251 - 500-->
                    <!--<input type="radio" ng-model="enquire.quantity" name="quantity" value=">500">above 500-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label class="control-label">Logo needed*</label>
            <div class="controls">
                <div class="input-group">
                    <input type="radio" ng-model="enquire.logo" name="logo" value="Y" ng-required="true">Yes
                    <input type="radio" ng-model="enquire.logo" name="logo" value="N" ng-required="true">No
                    <span ng-show="frm.logo.$dirty && frm.logo.$error.required"  style="color: #ff0000 ">Required!</span>
                </div>
            </div>
        </div>

        <div id="logo" style="display:none; margin-bottom:10PX">
            <p>Send logo in coreldraw (cdr) format to customerfirst@annectos.in</p>
            <input type="button" value="Browse">
        </div>

        <div class="form-group">
            <label class="control-label">Name*</label>
            <div class="controls">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" ng-model="enquire.name"  class="form-control" name="name" placeholder="Name" required>
                    <span ng-show="frm.name.$dirty && frm.name.$error.required"  style="color: #ff0000 ">Required!</span>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <label class="control-label">Mobile*</label>
            <div class="controls">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <input type="number" style="width: 553px;" ng-model="enquire.mobile_no" class="form-control" id="mobile" name="mobile_no" placeholder="mobile"  ng-minlength="10" ng-maxlength="12" required>
                    <span ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.required"   style="color: #ff0000 ">Required!</span>
                    <span ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.minlength"  style="color: #ff0000 ">Not a valid mobile no.</span>
                    <span ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.maxlength"  style="color: #ff0000 ">Not a valid mobile no.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Email Id*</label>
            <div class="controls">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" style="width: 553px;" ng-model="enquire.email_id" class="form-control" id="email" name="email" placeholder="Email" required>
                    <span ng-show="frm.email.$dirty && frm.email.$error.required"  style="color: #ff0000 ">Required!</span>
                    <span ng-show="frm.email.$dirty && frm.email.$error.email"  style="color: #ff0000 ">Not an email!</span>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <label class="control-label">City*</label>
            <div class="controls">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="city" id="City" style="width: 553px;" ng-model="enquire.city" ng-options="city.text as city.text for city in city_list" class="form-control selectpicker  show-tick">
                        <!--<option>Bangalore</option>-->
                        <!--<option>Delhi</option>-->
                        <!--<option>Mumbai</option>-->
                        <!--<option>Chennai</option>-->
                    </select>
                    <span ng-show="frm.city.$dirty && frm.city.$error.required"  style="color: #ff0000 " >Required!</span>

                </div>
            </div>
        </div>

        <div class="form-group ">
            <label class="control-label">Company Name</label>
            <div class="controls">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tower"></i></span>
                    <input type="text" ng-model="enquire.company_name" class="form-control" id="Comp_name" name="company" placeholder="company name">
                </div>
            </div>
        </div>


        <div class="form-group ">
            <label class="control-label">Website</label>
            <div class="controls">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <input type="text" ng-model="enquire.website" class="form-control" id="web" name="website" placeholder="website url">
                </div>
            </div>
        </div>

        <h5 style="color:#FF0000">Note: * mark fields are required</h5>
        <div class="controls" style="margin-left: 23%;">
            <button type="submit" style="color: #fff;background: #efcf0a;cursor: pointer;border: none;padding: 5px 10px;" ng-disabled="frm.$invalid" id="mybtn" data-ng-click="SaveEnquireRecord()" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div class="loader" ng-show="show_loader">

        <!--    <img src="images/loading_blue.gif"> -->
        <img src="images/LoadingIcon.gif">
    </div>


</div>

</div>


<script type="text/javascript">
    $('#yeslogo').click(function () {
        if (this.checked) {
            $("#logo").show();
        } else {
            $("#logo").hide();
        }
    });

</script>