
<div class="container">
    <header>

    </header>
    <div class="container-fluid">
        <div class="row">
            <!--START : LOGIN POPUP-->
            <div class="black_cover">
                <div style="Height:auto; min-height: 400px; margin-top:-200px;" class="popup_bg">
                    <h1 style="margin-top: -60px; text-align: center;">Forgot Password</h1>
                    <!--LOGIN TAB START-->
                    <div class="tab_content_section">
                        <div style="text-align: center;margin-top: -30px;">
                           <img src="images/exidelife.png">
                        </div>
                            <span>
                                <label>Company E-mail Address</label>
                                <div class="forgoticon"></div>
                                <input style="width: 89%; vertical-align: top; display: inline-block" type="text" value="" name="email" ng-model="registration.email_id"
                                       />
                            </span>
                        <div style="text-align: center">
                            <span>
                                <!--<a href="#/forgot_password" class="forgott">Forgot Password?</a>-->
                                 <input type="submit" value="Reset Password" ng-click="resetPassword()" />
                            </span>
                        </div>
                        <div style="text-align: center">
                            <a href="#/login/">Back to login</a>
                        </div>


                            <!--<span>-->
                                <!--<img src="../../Content/custom_images/Loading.gif" style="width: 50px; height: 50px;" ng-show="isViewLoading" />-->
                            <!--</span>-->
                        <!--<span ng-show="isViewLoading">Processing... </span>-->

                    </div>
                    <!--LOGIN TAB END-->
                </div>
            </div>
            <!--END : LOGIN POPUP-->

        </div>
    </div>
</div>
