<div class="g-slide">
    <!--position: absolute; left: 0; top:0; " >-->
    <div ng-controller="adController">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a href={{slide.href}}>
                    <img ng-src="{{slide.image}}" style="width: 100%">
                </a>

            </slide>
        </carousel>


    </div>
    <div ng-controller="adController">
        <div ng-include src="template.url">
        </div>
    </div>
    <div class="container" style="background-color: #878585; height:auto; margin-top: 20px;">
        <p class="talk">
        <img src="images/talktous.png">  </p>  <br>
        <p class="talk">Be the first to find out special offers &amp; promotions<br>
            <!--<button style="background: #fbd12d url('branding/custom_images/my-account/my-account-left-hover.jpg') repeat-x bottom !important; border: 1px solid #f38222; font-weight: bold;" type="button" >Enquire Now</button>-->
        <input type="button" style="background-color: #f79633" ng-click="talk_to_us()" value="Enquire Now"><br>
        Customer Support : +91 7022273377 (10 am &dash; 7 pm  Mon-Sat) <br>
        OR<br>
        Email us at | customerfirst@penguinsindia.com</p>
    </div>
</div>



