
    <div class="container">
        <header>

        </header>
        <div class="container-fluid">
            <div class="row">
                <!--START : LOGIN POPUP-->
                <div class="black_cover">
                    <div style="Height:auto; min-height: 400px; margin-top:-200px;" class="popup_bg">
                       <span class="tab_section">
                            <ul>
                                <li class="active">Login</li>
                                <li><a href="#/login/registration">Register</a></li>
                             </ul>
                        </span>
                        <!--LOGIN TAB START-->
                        <div class="tab_content_section">
                            <div style="text-align: center;margin-top: -30px;">
                                <img src="images/exidelife.png">
                            </div>
                            <span>
                                <label>Company E-mail Address</label>
                                <input type="text" value="" name="email" ng-model="userlogin.email_id" ng-trim="true" ng-keyup="TrapKeyEvent($event.keyCode)" />
                            </span>
                            <span>
                                <label>Password</label>
                                <input type="password" value="" name="password" ng-model="userlogin.password" ng-trim="true" ng-keyup="TrapKeyEvent($event.keyCode)" />
                            </span>
        <div style="text-align: center">
                            <span>
                                <!--<a href="#/forgot_password" class="forgott">Forgot Password?</a>-->
                                <input type="submit" value="Login" ng-click="validateUserService()" />
                            </span>
        </div>
                            <div style="text-align: center">
                            <a href="#/login/forget_password">Forgot Password</a>
                            </div>

                            <div style="text-align: center">
                              <a>Customer Service +91 7022273377</a>
                            </div>

                            <div class="loader" ng-show="show_loader">
                                <img src="images/LoadingIcon.gif">
                            </div>

                            <span>
                                <img src="../../Content/custom_images/Loading.gif" style="width: 50px; height: 50px;" ng-show="isViewLoading" />
                            </span>
                            <span ng-show="isViewLoading">Processing... </span>

                        </div>
                        <!--LOGIN TAB END-->
                    </div>


                </div>
                <!--END : LOGIN POPUP-->



        </div>



    </div>
</div>


