<header><!-- Start: HEADER TOP PART-->
    <div class="top_part container">
        <div class="shadowbox ui-corner-all">
            <div class="topsec ui-corner-top" data-ng-controller="LoginCtrl">
                <!--<a class="login" href="" data-ng-click="openRegistration()">{{signout_text}}</a> |
                    <a href="" data-ng-click="openLogin()" class="login">{{signin_text}}</a>-->
                    <a class="login" href="" data-ng-click="openLogin()" style="color: #000000;">{{signout_text}}</a>
                    <a href="#/my_profile" class="login" style="color: #000000;">{{signin_text}}</a>
            </div>
            <div class="middlesec">
                <a href="#/home.html"><span class="left_logo"><img src="branding/customer_images/logo.png"></span></a>
                <!--<a href="http://www.annectos.in"><span class="left_logo eselect"><img src="branding/customer_images/eselect.png" /></span></a>-->
                <div class="searchsec" data-ng-controller="BannerCtrl"><div class="top_text">Customer Service +91 7022273377 (10am to 7pm, Mon-Sat)</div>
                    <div class="leftinput">
                        <input type="text" data-ng-model="srch" placeholder="Search for items">
                    </div>
                    <div class="catlist">
                        <div class="selected">{{search_menu_item}}</div>
                        <ul><li data-ng-repeat="menu_item in level1_menu_items" data-ng-click="select_search(menu_item.link, menu_item.name)">{{menu_item.name}}</li>
                            <li data-ng-click="select_search(0, &quot;All Categories&quot;)">in All Categories</li>
                            <!--<li>Kids</li>--><!--<li>Mobile and Tablets</li>--><!--<li>Home and Kitchen</li>-->
                            <!--<li>Electronics and Computers</li>--><!--<li>New Arrivals</li>-->
                            <!--<li>Specials</li>-->
                            <!--<li>Sale</li>--><!--<li>Premium</li>--><!--<li>Express</li>-->
                        </ul>
                    </div>
                    <input value="" type="submit" data-ng-click="openSearch()">
                </div>
                <div class="rightlink" data-ng-controller="CartCtrl">
                    <ul>
                        <li title="Brand"><span class="bordercover"></span> <a  href="#/main/brand"><span class="imgholder"><img src="branding/custom_images/Header/brand.png"></span> <span class="labltext" style="margin-top: 10px; text-align: center">Sort By Brand</span></a></li>
                        <!--<li title="Brand Wise Category"><span class="bordercover"></span> <a href="#/main/cat_details"><span class="imgholder"><img src="branding/custom_images/Header/myaccount.png"></span>Brand Wise Category<span class="labltext" style="margin-top: 10px; text-align: center"></span></a></li>-->
                        <!-- <li title="Penguins Speciality"><span class="bordercover"></span> <a href=""><span class="imgholder"><img src="branding/custom_images/Header/special.png"></span> <span class="labltext" style="margin-top: 10px; text-align: center">Penguin Speciality</span></a></li> -->
                        <li title="My Account"><span class="bordercover"></span> <a href="#/main/myprofile"><span class="imgholder"><img src="branding/custom_images/Header/myaccount.png"></span> <span class="labltext" style="margin-top: 10px; text-align: center">My Account</span></a></li>
                        <li title="Cart"><span class="bordercover"></span> <a href="#/main/cart"><span class="count">{{cart_size}}</span> <span class="imgholder"><img src="branding/custom_images/Header/Cart.png"></span> <span class="labltext">Cart</span></a></li>
                    </ul>
                </div>
            </div><!-- Start: Navigation wrapper -->
            <ul class="mainnav ui-corner-bottom" data-ng-controller="MenuCtrl">
                <li class="fmenu"><a href="" data-ng-click="open_level1_page('app')">Apparels</a>
                    <ul>
                        <li data-ng-repeat="l2_app_menu_item in l2_app_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/cat/{{l2_app_menu_item.link}}">{{l2_app_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_app_menu_item in l3_app_menu | filter:{ParentId:l2_app_menu_item.link}">
                                    <a href="#/main/cat/{{l3_app_menu_item.link}}">{{l3_app_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="smenu"><a href="" data-ng-click="open_level1_page('acc')">Accessories</a>

                    <ul>
                        <li data-ng-repeat="l2_acc_menu_item in l2_acc_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/cat/{{l2_acc_menu_item.link}}">{{l2_acc_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_acc_menu_item in l3_acc_menu | filter:{ParentId:l2_acc_menu_item.link}">
                                    <a href="#/main/cat/{{l3_acc_menu_item.link}}">{{l3_acc_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="tmenu"><a href="" data-ng-click="open_level1_page('tog')">Travel & Office Gear</a>

                    <ul>
                        <li data-ng-repeat="l2_tog_menu_item in l2_tog_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/cat/{{l2_tog_menu_item.link}}">{{l2_tog_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_tog_menu_item in l3_tog_menu | filter:{ParentId:l2_tog_menu_item.link}">
                                    <a href="#/main/cat/{{l3_tog_menu_item.link}}">{{l3_tog_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="frmenu"><a href="" data-ng-click="open_level1_page('pgr')">Promo Gifts & Rewards</a>

                    <ul>
                        <li data-ng-repeat="l2_pgr_menu_item in l2_pgr_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/cat/{{l2_pgr_menu_item.link}}">{{l2_pgr_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_pgr_menu_item in l3_pgr_menu | filter:{ParentId:l2_pgr_menu_item.link}">
                                    <a href="#/main/cat/{{l3_pgr_menu_item.link}}">{{l3_pgr_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="fifthmenu"><a href="" data-ng-click="open_level1_page('elec')">Electronics & Gadgets</a>

                    <ul>
                        <li data-ng-repeat="l2_elec_menu_item in l2_elec_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/cat/{{l2_elec_menu_item.link}}">{{l2_elec_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_elec_menu_item in l3_elec_menu | filter:{ParentId:l2_elec_menu_item.link}">
                                    <a href="#/main/cat/{{l3_elec_menu_item.link}}">{{l3_elec_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="sixthmenu"><a href="" data-ng-click="open_level1_page('ah')">Appliances & Home</a>

                    <ul>
                        <li data-ng-repeat="l2_ah_menu_item in l2_ah_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/cat/{{l2_ah_menu_item.link}}">{{l2_ah_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_ah_menu_item in l3_ah_menu | filter:{ParentId:l2_ah_menu_item.link}">
                                    <a href="#/main/cat/{{l3_ah_menu_item.link}}">{{l3_ah_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="seventhmenu"><a href="" data-ng-click="open_level1_page('pn')">Premium & Novel</a>

                    <ul>
                        <li data-ng-repeat="l2_pn_menu_item in l2_pn_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/cat/{{l2_pn_menu_item.link}}">{{l2_pn_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_pn_menu_item in l3_pn_menu | filter:{ParentId:l2_pn_menu_item.link}">
                                    <a href="#/main/cat/{{l3_pn_menu_item.link}}">{{l3_pn_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="eighthmenu"><a href="" data-ng-click="open_level1_page('rts')">Ready To Ship</a>

                    <ul>
                        <li data-ng-repeat="l2_rts_menu_item in l2_rts_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/special_cat/ReadyToShip/{{l2_rts_menu_item.name}}/{{l2_rts_menu_item.link}}/{{l2_rts_menu_item.name}}">{{l2_rts_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_rts_menu_item in l3_rts_menu | filter:{ParentId:l2_rts_menu_item.link}">
                                    <a href="#/main/special_cat/ReadyToShip/{{l2_rts_menu_item.name}}/{{l3_rts_menu_item.link}}/{{l3_rts_menu_item.name}}">{{l3_rts_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="ninthmenu"><a href="" data-ng-click="open_level1_page('new')">New</a>

                    <ul>
                        <li data-ng-repeat="l2_new_menu_item in l2_new_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/special_cat/New/{{l2_new_menu_item.name}}/{{l2_new_menu_item.link}}/{{l2_new_menu_item.name}}">{{l2_new_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_new_menu_item in l3_new_menu | filter:{ParentId:l2_new_menu_item.link}">
                                    <a href="#/main/special_cat/New/{{l2_new_menu_item.name}}/{{l3_new_menu_item.link}}/{{l3_new_menu_item.name}}">{{l3_new_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
                <li class="tenthmenu"><a href="" data-ng-click="open_level1_page('sp')">Sort by Price</a>

                    <ul>
                        <li data-ng-repeat="l2_sp_menu_item in l2_sp_menu">
                            <ul>
                                <li class="title">
                                    <a href="#/main/special_cat/SortByPrice/{{l2_sp_menu_item.name}}/{{l2_sp_menu_item.link}}/{{l2_sp_menu_item.name}}">{{l2_sp_menu_item.name}}</a>
                                </li>
                                <li data-ng-repeat="l3_sp_menu_item in l3_sp_menu | filter:{ParentId:l2_sp_menu_item.link}">
                                    <a href="#/main/special_cat/SortByPrice/{{l2_sp_menu_item.name}}/{{l3_sp_menu_item.link}}/{{l3_sp_menu_item.name}}">{{l3_sp_menu_item.name}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border"></li>
                    </ul>
                </li>
            </ul>
            <!-- End: Navigation wrapper -->
        </div>
    </div>
</header><!-- End: HEADER TOP PART-->
<!-- Note that AngularJS 1.1.4 now has a built-in ng-animation direction. Left in animated-view to show a
     custom directive --><!--<div animated-view></div>--><!--<div class="container" ></div>-->
<div ui-view=""></div>
<footer>
    <div class="footer">
    <div class="container footercontainer">
        <div class="box payMethod">
            <div class="heading">Payment Method</div>
            <ul><li><img src="branding/custom_images/Footer/Master.png"></li>
                <li><img src="branding/custom_images/Footer/Visa.png"></li>
                <li><img src="branding/custom_images/Footer/Maestro.png"></li>
                <li><img src="branding/custom_images/Footer/NetBanking.png"></li>
            </ul>
        </div><!--<div class="box socialicon">
                <div class="heading">Connect With Us</div>
                <ul>
                    <li><a href="https://www.facebook.com/annectosindia" target="_blank" class="fb">Facebook</a></li>
                    <li><a href="https://twitter.com/annectos" class="tweet">Twitter</a></li>
                    <li><a href="http://www.linkedin.com/company/annecto-rewards-&-retail-pvt-ltd-/" target="_blank" class="in">Linkedin</a></li>

                </ul>
            </div>-->
        <div class="box">
            <div class="heading">100% Secure Payment</div>
            <div><img src="branding/custom_images/Footer/NortonLogo.png"></div>
        </div>
        <div class="box footerlogo"><img src="branding/custom_images/Footer/E-selectLogo.png">
        </div>
    </div>
    <div class="footerbottomlinks"><div class="container">
        <ul>
        <!--<li><a href="#/aboutus">About Us</a></li>-->
            <li><a href="#/main/terms">Terms of Use</a></li>
            <li><a href="#/main/security_policy">Security Policy</a></li>
            <li><a href="#/main/privacy_policy">Privacy Policy</a></li>
            <!--<li><a href="#/return_policy">Returns Policy</a></li>-->
            <li><a href="#/main/contact_us">Contact us</a></li><!--<li><a href="#/feedback">Feedback</a></li>-->
        </ul>
        <div style="color: #ffffff; color: #ffffff;padding-top: 5px;font-size: 14px;font-weight: bold;float: right!important">Version - 1.0.2</div>
    </div>
    </div>
</div>
</footer>