<div class="container">
    <div class="container my-account">
	
	<span class="title">My Account</span>
	
	  <span class="left">
  <span class="left_bg">
	 <ul>
          <li><a href="#/main/myprofile">My Profile</a></li>
         <li class="my-active"><a href="#/main/myenquiry">My Enquiry</a></li>
           <li ><a href="#/main/myorder">My Order</a></li>
        <li><a href="#/main/changepassword">Change Password</a></li><!--<li><a href="#/achievement">My Achievement</a></li>-->

    </ul>
	</span>
	<!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
    </span><style>
        .point_body span {
            display: block;
        }

        .point_body span label {
            display: inline-block;
            width: 120px;
        }

        .point_body span select {
            width: 71px;
        }

        .point_body .scorecard_body span label {
            display: inline-block;
            width: 100px;
        }

        .point_body .scorecard_body span input {
            display: inline-block;
            width: 105px;
            margin-right: 10px;
        }

        /*.checkout_table .added_address span label {
            display: inline-block;
            width: 105px;
        }*/
        .text_box{width: 208px;
            height: 32px;}
        .checkout_table .added_address span input {
            display: inline-block;
            width: 230px;
            margin-right: 10px;
        }

        .checkout_table .added_address span textarea {
            display: inline-block;
            width: 230px;
            margin-right: 10px;
        }

        .checkout_table .added_address span select {
            width: 244px;
        }

        .point_body .workinfo span {
            display: inline-block;
            width: 100px;
        }
    </style>
<div class="right">
                <span class="heading">My Enquiry</span>
                <div class="point_body">
                    <!--<span class="point_summery_headimg">Order Summary</span>-->
                    <h3>Product Enquiry</h3>
                    <div data-ng-controller="myprofileCtrl" class="details_points_bg">

                        <div class="details_points_table">
                            <table>
                                <thead>
                                <tr><th width="100">Enquire ID</th>
                                    <th width="100">Product Name</th>
                                    <th width="150">Product Id</th>
                                    <th width="150">Quantity</th>
                                    <th width="100">Size</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                               <tr data-ng-repeat="enq in enquiry">
                                    <td>{{enq.enquire_id}}</td>
                                    <td>{{enq.name}}</td>
                                    <td>{{enq.id}}</td>
                                    <td>{{enq.ord_qty}}</td>
                                    <td>{{enq.size}}</td>
                                    <td>{{enq.enquire_status}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>




                </div>
                <div class="point_body">
                    <!--<span class="point_summery_headimg">Order Summary</span>-->
                    <h3>General Enquiry</h3>
                    <div data-ng-controller="myprofileCtrl" class="details_points_bg">

                        <div class="details_points_table">
                            <table>
                                <thead>
                                <tr><th width="100">Product Code</th>
                                    <th width="100">General Information</th>
                                    <th width="150">Additional Remarks</th>
                                   <!-- <th width="150">Quantity</th>
                                    <th width="100">Size</th>
                                    <th>Status</th> -->
                                </tr>
                                </thead>
                                <tbody>
                               <tr data-ng-repeat="gen in general_enquire">
                                    <td>{{gen.product_code}}</td>
                                    <td>{{gen.general_information}}</td>
                                    <td>{{gen.additional_remarks}}</td>
                                  <!--  <td>{{enq.ord_qty}}</td>
                                    <td>{{enq.size}}</td>
                                    <td>{{enq.enquire_status}}</td> -->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>




                </div>
                </div>

            </div>
</div>

