
    <div class="container">
        <!-- Start: my account -->
        <div class="container my-account">
            <span class="title">My Account</span>
  <span class="left">
  <span class="left_bg">
	 <ul>
       <li><a href="#/main/myprofile">My Profile</a></li>
       <li><a href="#/main/myenquiry">My Enquiry</a></li>
        <li class="my-active"><a href="#/main/myorder">My Order</a></li>
        <li><a href="#/main/changepassword">Change Password</a></li><!--<li><a href="#/achievement">My Achievement</a></li>-->

        <!--<li><a href="#">My Wishlist</a></li>-->
        <!--<li><a href="#">My Product Reviews</a></li>-->
        <!--<li><a href="#">Newsletters</a></li>-->
    </ul>
	</span>
	<!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
    </span>
            <div class="right">
                <span class="heading">My Orders</span>
                <div class="point_body">
                    <!--<span class="point_summery_headimg">Order Summary</span>-->

                    <div class="details_points_bg">

                        <div class="details_points_table">
                            <table>
                                <thead>
                                <tr>
                                    <th width="100">Order No</th>
                                    <th width="150">Customer Name</th>
                                    <th width="150">Salesman Name</th>
                                    <th width="100">Amount</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="mo in my_orders">
                                    <td>{{mo.order_id}}</td>
                                    <td>{{mo.billing_name}}</td>
                                    <td>{{mo.sales_person_name}}</td>
                                    <td>{{mo.total_amount}}</td>
                                    <td>{{mo.payment_info}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>






                </div>

            </div>
        </div>
        <!-- end: my account -->
    </div>

