
    <div class="container">
        <!-- Start: my account -->
        <div class="container my-account">
            <span class="title">My Account</span>
  <span class="left">
  <span class="left_bg">
	 <ul>

        <li class="my-active" ><a href="#/main/myprofile">My Profile</a></li>
		<li ><a href="#/main/myenquiry">My Enquiry</a></li>
        <li ><a href="#/main/myorder">My Order</a></li>
        <li><a href="#/main/changepassword">Change Password</a></li><!--<li><a href="#/achievement">My Achievement</a></li>-->

        <!--<li><a href="#">My Wishlist</a></li>-->
        <!--<li><a href="#">My Product Reviews</a></li>-->
        <!--<li><a href="#">Newsletters</a></li>-->
    </ul>
	</span>
	<!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
    </span><style>
            .point_body span {
                display: block;
            }

            .point_body span label {
                display: inline-block;
                width: 120px;
            }

            .point_body span select {
                width: 71px;
            }

            .point_body .scorecard_body span label {
                display: inline-block;
                width: 100px;
            }

            .point_body .scorecard_body span input {
                display: inline-block;
                width: 105px;
                margin-right: 10px;
            }
            .text_box{width: 208px;
                height: 32px;}
            /*.checkout_table .added_address span label {
                display: inline-block;
                width: 105px;
            }*/

            .checkout_table .added_address span input {
                display: inline-block;
                width: 230px;
                margin-right: 10px;
            }

            .checkout_table .added_address span textarea {
                display: inline-block;
                width: 230px;
                margin-right: 10px;
            }

            .checkout_table .added_address span select {
                width: 244px;
            }

            .point_body .workinfo span {
                display: inline-block;
                width: 100px;
            }
        </style>
            <div class="right">
                <span class="heading">My Profile</span>
                <div class="point_body">
                    <!--<span class="point_summery_headimg">Order Summary</span>-->

                   <span>
                                    <label>First Name*</label>
                                    <input type="text" ng-model="my_profile.first_name" ng-readonly="true" class="text_box">



                                </span><br/>
                                <span>
                                    <label>Last Name*</label>
                                    <input type="text" ng-model="my_profile.last_name" ng-readonly="true" class="text_box">
                                </span><br/>
                                <span>
                                    <label>Email*</label>
                                    <input type="text" ng-model="my_profile.email_id" ng-readonly="true" class="text_box">
                                </span><br/>
                                <span>
                                    <label>Phone*</label>
                                    <input type="text" ng-model="my_profile.mobile_no" ng-readonly="true" class="text_box">
                                </span><br/>
                                <!--  <span>
                        <label>Gender*</label>
                        <input type="radio" name="sex" value="male">Male
                        <input type="radio" name="sex" value="female">Female<br>
                    </span>-->
                              <!--  <span>
                                    <label>Date Of Birth*</label>
                                    <select ng-model="my_profile.dob_date" disabled="disabled" ng-options="day.text as day.text for day in day_list" class="ng-pristine ng-valid">
                                    </select>
                                    <select ng-model="my_profile.dob_month" disabled="disabled" ng-options="month.text as month.text for month in month_list" class="ng-pristine ng-valid">
                                    </select>
                                    <select ng-model="my_profile.dob_year" disabled="disabled" ng-options="year.text as year.text for year in year_list" class="ng-pristine ng-valid">
                                    </select>
                                </span>
                                <span>
                                    <label>Date Of Joining*</label>
                                    <select ng-model="my_profile.doj_date" disabled="disabled" ng-options="day.text as day.text for day in day_list" class="ng-pristine ng-valid">
                                    </select>
                                    <select ng-model="my_profile.doj_month" disabled="disabled" ng-options="month.text as month.text for month in month_list" class="ng-pristine ng-valid">
                                    </select>
                                    <select ng-model="my_profile.doj_year" disabled="disabled" ng-options="year.text as year.text for year in year_list" class="ng-pristine ng-valid">
                                    </select>
                                </span>
                                <span>
                                    <label>Qualification*</label>
                                    <input type="text" ng-model="my_profile.qualification" ng-readonly="true" class="ng-pristine ng-valid">
                                </span> -->
                       <h3>Your Saved Address</h3>
                           <div>

                        <a class="des" href="" data-ng-click="select_address(user_shipping_list)">{{user_shipping_list.fullname}}<br />
                            {{user_shipping_list.address}} {{user_shipping_list.street}}
                            <br />
                            {{user_shipping_list.city}} {{user_shipping_list.state}}
                            <br />
                            {{user_shipping_list.zipcode}}<br />
                            Mobile: {{user_shipping_list.mobile_no}}<br />
                            <br />
                        </a>


                    </div>




                </div>

            </div>
        </div>
        <!-- end: my account -->
    </div>

    <!--ng-pristine ng-valid-->