<div class="container">
    <div class="container points Payment">
        <span class="title">Payment</span>

        <div class="container">
            <header>
                <br />
                <br />
                <!--<h3>Payment</h3>-->
            </header>
            <div class="container-fluid">
                <div class="row">
                    <input type="hidden" id="hdnOrderID" name='hdnOrderID' ng-model="paymentinfostatus.order_id" />
                    <input type="hidden" id="hdnStatus" name='hdnStatus' ng-model="paymentinfostatus.status" />
                    <span>{{message}}</span>
                    <br />
                    <br />
                    <br />
                <span>
                    <a href="#" class="shopping_back" ng-click="redirectshop()">Continue Shopping</a>
                </span>
                </div>
            </div>
        </div>

    </div>
</div>