
<div class="pp">
<div class="container">

<!-- Start: content -->
<!-- Start: points -->

<!-- Start: net banking -->

<div class="container points Payment">
    <span class="title">Payment Details</span>
    <div style="width:658px" class="points_left">
        <form id="myform" method="POST" action="http://payment.annectos.net:8084/checkout.aspx" class="credit-card">
            <div class="right">
                <div class="rpoints" >
                    <!--<div class="border" style="padding-top:10px;">-->
                        <!--&lt;!&ndash;<span>Logo  Charges</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<input data-ng-model="logo_charges"  style="width: 200px;" placeholder="" type="text" />&ndash;&gt;-->
                        <!--<div class="add_voucher" >-->
                            <!--<a style="cursor: pointer; !important"-->
                               <!--data-ng-click="Add_logo_charges()" ><span> Apply</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="rpoints" >
                    <div class="border">
                        <span>Promo Coupon</span>
                        <input data-ng-model="discount_coupon" ng-blur="apply_coupon()" style="width: 200px;" placeholder="" type="text" />
                        <div class="add_voucher" style="padding-bottom: 20px;">
                            <a style="cursor: pointer; !important"
                               data-ng-click="validate_discount_point()" ><span> Apply</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- </div>-->
                <div class="point_body">
                    <div style="padding-bottom: 0px;" class="border">
                            <span class="field_block">
                                <span class="redem_points">
                                    <!--<form method="POST" action="">-->
                                        <span class="field_block" data-ng-repeat="gv in gv_list">
                                            <label>e-Gift Voucher Details</label>
                                             <input type="text" value="" data-ng-model="gv.gift_certificate_code"
                                                    placeholder=" Voucher #{{gv.id}}">

                                            <div class="add_voucher" >
                                                <a style="cursor: pointer; !important"
                                                   data-ng-click="validate_gv(gv.gift_certificate_code, $index)" > <span>Apply</span>
                                                </a>
                                            </div>
                                            <div class="delete_voucher">
                                                <a style="cursor: pointer; !important" data-ng-click="remove_gv($index)"><span>Remove</span></a></div>
                                                <span ng-show="gv.amount != 0">
                                                    <span  ng-show="store_type != 'P'"> &nbsp - {{gv.amount}}</span>
                                                    <span  ng-show="store_type == 'P'"> &nbsp - {{gv.amount * conv_ratio}}</span>
                                                    <!--<span  ng-show="store_type != 'P'">(-₹ {{gv.amount}})</span>-->
                                                    <!--<span  ng-show="store_type == 'P'">(-{{gv.amount * conv_ratio}} P)</span>-->
                                                 from your cart
                                                </span>

                                            <!--</div>-->
                                            </span>

                                    <!--</form>-->
                                </span>
                            </span>
                    </div>
                </div>
                <div class="credit-card">
                    <div class="total_amount">
                        <div class="comndiv">
                            <div class="pleft">Total Cart Amount:	</div>
                            <div class="pright">
                                <span class="points_btn" ng-show="store_type != 'P'">Rs: {{total_cart_amount}} </span>
                                <span class="points_btn" ng-show="store_type == 'P'">{{total_cart_amount * conv_ratio}} Points </span>
                            </div>
                        </div>

                        <div class="comndiv">
                            <div class="pleft">Promo Coupon:	</div>
                            <div class="pright">
                                <span class="points_btn" ng-show="store_type != 'P'">Rs: {{discount_coupon_total}}</span>
                                <span class="points_btn" ng-show="store_type == 'P'">{{discount_coupon_total * conv_ratio}} points</span>
                            </div>
                        </div>
                        <div style="margin-bottom: 30px;" class="comndiv">
                            <div class="pleft">Redeemed through e-Gift Voucher:	</div>
                            <div class="pright">
                                <span class="points_btn" ng-show="store_type != 'P'">Rs: {{gv_total}}</span>
                                <span class="points_btn" ng-show="store_type == 'P'">{{gv_total * conv_ratio}} points</span>
                            </div>
                            <div class="pleft">Logo Charges:	</div>
                            <div class="pright">

                                <span class="points_btn" >Rs:{{logo_charges_added}}</span>
                            </div>



                            <div class="comndiv">
                                <div class="pleft">
                                    Balance (to be charged to you):
                                </div>
                                <div class="pright">
                                            <span class="points_btn" >
                                                Rs: {{balance_amount}}
                                            </span>
                                </div>
                            </div>
                                            <span class="field_block">
                                               <!-- <input type="button" ng-disabled="isClickable" ng-show="balance_amount <= 0" value="PAY Now" class="btn_all pay_now" ng-click="RedeemPoint()"> -->
                                                <span ng-hide="payment_gateway == 0">
                                                    <input type="submit" ng-disabled="isClickable" ng-show="balance_amount > 0" value="CC/DC" class="btn_all pay_now"  ng-click="checkout()" >
                                                </span>


											   <input type ="button"   value="NEFT/RTGS" class="btn_all pay_now" ng-click ="open_neft_popup()" />
											   <input type ="button"   value="Cheque" class="btn_all pay_now" ng-click ="open_cheque_popup()" />


                                        </span>


                        </div>

                        <!-- Form POST Element for Payment Gateway-->
                        <input type="text" id="ChkAmount" ng-model="pp.total_amount" style="display: none" />
                        <input type="text" name="Amount" ng-model="pp.total_amount" style="display: none" />
                        <input type="text" name="Order_Id" ng-model="pp.Order_Id" style="display: none">
                        <input type="text" name="Points" ng-model="pp.Points" style="display: none" />
                        <input type="text" name="Points_Inr" ng-model="pp.Points_Inr" style="display: none" />
                        <input type="text" name="Actual_Amount" ng-model="pp.actual_amount" style="display: none" />
                        <input type="text" name="EGift_VNO" ng-model="pp.EGift_VNO" style="display: none">
                        <input type="text" name="EGift_Amt" ng-model="pp.EGift_Amt" style="display: none">
                        <input type="text" name="Discount_Coupon" ng-model="pp.discount_coupon" style="display: none">
                        <input type="text" name="Discount_Coupon_Amount" ng-model="pp.discount_coupon_total" style="display: none">
                        <input type="text" name="Redirect_Url" ng-model="pp.Redirect_Url" style="display: none">
                        <input type="text" name="billing_cust_name" ng-model="pp.billing_cust_name" style="display: none">
                        <input type="text" name="billing_cust_address" ng-model="pp.billing_cust_address" style="display: none">
                        <input type="text" name="billing_cust_country" ng-model="pp.billing_cust_country" style="display: none">
                        <input type="text" name="billing_cust_state" ng-model="pp.billing_cust_state" style="display: none">
                        <input type="text" name="billing_cust_tel" ng-model="pp.billing_cust_tel" style="display: none">
                        <input type="text" name="billing_cust_email" ng-model="pp.billing_cust_email" style="display: none">
                        <input type="text" name="delivery_cust_name" ng-model="pp.name" style="display: none">
                        <input type="text" name="delivery_cust_address" ng-model="pp.address" style="display: none">
                        <input type="text" name="delivery_cust_country" ng-model="pp.delivery_cust_country" style="display: none">
                        <input type="text" name="delivery_cust_state" ng-model="pp.state" style="display: none">
                        <input type="text" name="delivery_cust_tel" ng-model="pp.mobile_number" style="display: none">
                        <input type="text" name="delivery_cust_notes" ng-model="pp.delivery_cust_notes" style="display: none">
                        <input type="text" name="Merchant_Param" ng-model="pp.Merchant_Param" style="display: none">
                        <input type="text" name="billing_cust_city" ng-model="pp.billing_cust_city" style="display: none">
                        <input type="text" name="billing_zip_code" ng-model="pp.billing_zip_code" style="display: none">
                        <input type="text" name="delivery_cust_city" ng-model="pp.delivery_cust_city" style="display: none">
                        <input type="text" name="delivery_zip_code" ng-model="pp.delivery_zip_code" style="display: none">
                        <input type="text" name="discount_coupone" ng-model="pp.discount_coupon" style="display: none">
                        <input type="text" name="discount_coupon_total" ng-model="pp.discount_coupon_total" style="display: none">
                        <!-- End Of Form Post Elements -->

                    </div>
                    </span>
                    <div class="btm_text">By placing the order, you have to read and agree to anncetos.net terms of use and privacy policy.</div>
                </div>

            </div>
        </form>
    </div>

    <div class="points_right">
        <div class="shipping_addres_bg">
            <span class="shipping_text">BILLING ADDRESS</span>
            <ul class="address">
                <li> Name: {{selected_address.billing_name}}</li>
                <li> Address: {{selected_address.address}}</li>
                <!--<li>Bannerghatta Road</li>-->
                <li> City: {{selected_address.city}}, State: {{selected_address.state}}</li>
                <li>Pincode: {{selected_address.pin}}, Mobile: {{selected_address.mobile_no}}</li>
            </ul>

        </div>
        <div class="order_sumary_bg" data-ng-controller="CartCtrl">
            <span class="order_sum_text">Order summary ({{cart_size}} items)</p></span>
            <ul class="order" style="height: 200px; overflow: auto;">
                <li data-ng-repeat="cart_item in cart">
                    <span class="img_con"><img src="{{cart_item.parent_prod_detail.image_urls[0].thumb_link}}"/></span>
                    <span  class="right_des">
                    <!--<span class="price">&#x20B9; 3,149</span>-->
                    <span class="price" ng-show="store_type != 'P'">Rs: {{cart_item.order_amount}}</span>
                    <!--<span class="price" ng-show="store_type == 'P'">{{cart_item.final_offer * cart_item.quantity * conv_ratio }}</span> -->
                        <span class="prd_title">{{cart_item.parent_prod_detail.Name}}</span>
                        <span class="prd_code">Code: {{cart_item.parent_prod_detail.sku}}</span>
                        <!--<span class="prd_code">SIZE: <p>{{cart_item.child_prod_detail[0].size}}</p>  |  QTY: <p>{{cart_item.order_quantity}}</p></span> -->
                        <span><img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="../Content/custom_images/express.png" /></span>
                    </span>

                </li>
                <!--<span class="scroll_bg"><span class="scroll"></span></span>-->
            </ul>
            <!--   <span class="shipping_r">Shipping:<p>{{shipping}}</p> -->
            <!--<span class="shipping_r">Express Shipping:<p>{{express_shipping}}</p>-->
            </span>
            <span class="order_total" ng-show="store_type != 'P'" >order TOTAL: <p>Rs: {{total_cart_amount}}</p>  </span>
            <!--<span class="order_total" ng-show="store_type == 'P'" >order TOTAL: <p> {{total_amount_billable * conv_ratio}} Points</p> -->
            </span>
        </div>


    </div>

</div>



</form>


</div>
</div>




<div class="black_cover" ng-show="neft_pop" id="check">
    <div style="height:auto; min-height: auto;margin-top: -330px;"  class="popup_bg" >
        <div class="pop_heading">
            <img src="images/pop_close.png" ng-click="neft_popup_close()" />
        </div>
        <div style="padding-bottom: 0px;margin-top: -40px;" class="tab_content_section">

			 <span>
                    <label>Name: annectos reward & retail pvt ltd</label>
                    <!--<label>annectos</label>					-->

             </span>
              <span>
                    <label>Bank: ICICI</label>
                    <!--<label>annectos</label>					-->

             </span>
              <span>
                    <label>Acc No: 625305016988</label>
                    <!--<label>annectos</label>					-->

             </span>
              <span>
                    <label>Branch: Kumarapark</label>
                    <!--<label>annectos</label>					-->

             </span>
             <span>
                    <label>IFSC Code: ICIC006253</label>
                    <!--<label>annectos</label>					-->

             </span>

			 <span>
                    <label>Bank*:</label>
                    <input type="text" value="" name="email"  ng-model="transact_details.bank_name" />
             </span>
			  <span>
                    <label>Transaction Id*:</label>
                    <input type="text" value="" name="email" ng-model="transact_details.transaction_no" />
             </span>

			 <span>
                    <label>Transaction Date* :</label>
                    <!--<input style="width:362px;" type="date"  placeholder="" value="" name="email" ng-model="transact_details.date"  />-->

      <input type="text" class="form-control" style="display: inline-block; width:90%!important;" datepicker-popup="dd/MM/yyyy" ng-model="transact_details.date" ng-disabled="true" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                    <span style="display: inline-block;" >
                    <button type="button" class="" style="padding: 5px 7px ! important;" ng-click="open($event)">
                     <i class="glyphicon glyphicon-calendar"></i>
                   </button>
             </span>
			 <span>
                                <!--<a href="#/forgot_password" class="forgott">Forgot Password?</a>-->
              <input style="border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;" type="submit" value="Send" ng-click="save_bank_details_data()"  />
                            </span>
            <p> * Mandatory Fields</p>

                 <div class="loader" ng-show="show_loader">
                     <img src="images/LoadingIcon.gif">
                 </div>
        </div>
    </div>
</div>



<div class="black_cover" ng-show="cheque_pop"  >
    <div style="height:auto; min-height: auto;margin-top: -330px;"  class="popup_bg">
        <div class="pop_heading">
            <img src="images/pop_close.png" ng-click="cheque_popup_close()"/>
        </div>

        <span class="heading" style="margin-left: 60px;"><b>Cheque Details</b></span><br/><br/>

        <div class="point_body">

        <div class="details_points_bg" style="margin-left: 42px;">

            <div class="details_points_table pp" style="overflow: auto;max-height: 80px;">
                <table >
                    <thead>
                    <tr>
                        <th width="60"></th>
                        <th width="60">Sl No</th>
                        <th width="150">Cheque No</th>
                        <th width="120">Bank Name</th>
                        <th width="120">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="c in check_data">
                        <td><input type="radio" name="check" data-ng-click="select_delete(c.check_number)"></td>
                        <td>{{c.sln_no}}</td>
                        <td>{{c.check_number}}</td>
                        <td>{{c.banks_name}}</td>
                        <td>{{c.trn_date|date :"dd/MM/yyyy"}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>


        <div class="tab_content_section">
			 <span>
                    <label>Cheque No*:</label>
                    <input type="text" value="" name="email"  ng-model="check_details.check_no" />
             </span>
			  <span>
                    <label>Bank Name*:</label>
                    <input type="text" value="" name="email" ng-model="check_details.bank_name" />
             </span>

			 <span>
                    <label>Date*:</label>
                    <!--<input type="date" style="width:470px;"  placeholder="" value="" name="email" ng-model="check_details.date" />-->
              <!--<input type="text" style="display: inline-block;" datepicker-popup="dd/MM/yyyy" ng-model="check_details.date" ng-disabled="false" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="false" close-text="Close" />-->
                    <input type="text" class="form-control" style="display: inline-block; width:90%!important;" datepicker-popup="dd/MM/yyyy" ng-model="check_details.date" ng-disabled="true" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                    <span style="display: inline-block;" >
                    <button type="button" class="" style="padding: 5px 7px ! important;" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>

             </span>
			 <span>
                                <!--<a href="#/forgot_password" class="forgott">Forgot Password?</a>-->

              <p>Click Save button to add more than one cheque</p>
              <input style="border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;" type="submit" value="Save" ng-click="save_check()"  />
              <input style="border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;" type="submit" value="Send" ng-click="save_check_details_data()"  />
              <input style="border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;" type="submit" value="Delete" ng-click="delete_check()"  />
                            </span>

            <p> * Mandatory Fields</p>

                 <div class="loader" ng-show="show_loader">
                     <img src="images/LoadingIcon.gif">
                 </div>
        </div>
    </div>
</div>


