<div class="container">
<header>
    <!--<h3>&nbsp</h3>-->
</header>
<br/>
<div class="row" style="margin-left: 2px">
<div class="breadcums_bg">
      <a href="#/main/home">Home</a>
              <span data-ng-repeat="cat in cats">
                  >>
                  <!--<a href="../cat1.html#/{{cat.id}}">    {{cat.Name}} </a>-->
                  <a ng-show="cat.level == 1" class="breadcums_bg" href="#/main/cat1.html#/{{cat.id}}"> {{cat.Name}}  </a>
                  <a ng-show = "cat.level > 1" class="breadcums_bg" href="#/main/cat/{{cat.id}}"> {{cat.Name}}  </a>

              </span>
      <!--<a href="#/prod/{{product_id}}">{{productDetails.Name}}</a>-->
      <!--Breadcrumb to be implemented-->
  </div>

</div>
<!-- Start: product view -->
<div style="height: auto;" class="container productviewSec">
<div class="mainimgcontainer">
   <div style="width: 600px; float:left">
       <div class="bigimg">
	<span  zoom-View="{url: '{{selected_image_zoom}}' }">
		<!--<img id="mainImage" ng-src="{{productDetails.image_urls[0].link}}" zoom-View="{url: '{{productDetails.image_urls[0].zoom_link}}'}" />-->
       <img  style="width:300px"
             id="mainImage"
             ng-src="{{selected_image}}"
               />
	</span>
           <!--<img   data-ng-mouseover="changeImage1(img)"-->

           <!--ng-src="{{selected_image}}"-->
           <!--/>-->
       </div>
       <ul class="thumbnailsimg">
           <li data-ng-repeat="img in productDetails.image_urls | orderBy:'display_name'">
               <a data-ng-mouseover="changeImage(img)" >
                   <img class="thumbImage" src="{{img.thumb_link}}"/>
               </a>
           </li>
       </ul>
       <div class="productdesc">
           <div class="productdesc1">
               <h1>PRODUCT DESCRIPTION	</h1>
               <ul>
                   <li >
                       <h2>Description</h2>
                       <p>{{productDetails.description}}</p>
                   </li>
                   <li data-ng-repeat="feature in productDetails.feature">
                       <h2>{{feature.name}}</h2>
                       <p>{{feature.values}}</p>
                   </li>
                   <li >
                       <h2>NOTE:</h2>
                       <p> Please send your logo in vector format (Corel draw files) to
                           customerfirst@penguinsindia.com
                           for assistance
                           please call : +91 7022273377</p>
                   </li>
               </ul>
           </div>
       </div>
   </div>
   <div class="productinfo">
       <div class="coompadidv">
           <h1>{{productDetails.Name}}</h1>
           <div class="pcode">Product Code: {{productDetails.sku}}</div>

           <ul >

               <li style="margin-left: -39px;list-style-type: none;">
                  <span>MRP:Rs:{{productDetails.mrp}}</span>
               </li>

           </ul>
       </div>
       <div class="coompadidv">
           <div>
                       <span ng-show="product_price.final_discount > 0" class="mrp">
                           <span ng-show="store_type != 'P'">MRP:</span>
                       <span ng-show="product_price.final_discount > 0" class="rupee">
                           <span ng-show="store_type != 'P'">`{{product_price.mrp}}</span>
                       </span>
                       <span ng-show="product_price.final_discount > 0"  class="mrp off">
                           <span ng-show="store_type != 'P'">&nbsp {{product_price.final_discount}}% off</span>
                       </span>
           </div>
           <!--<div class="offer">Offer:  <span class="rupee" ng-show="store_type != 'P'">`{{product_price.final_offer}} |</span>-->
           <!--{{productDetails.point}} Points</div>-->

           <!--<div ng-show="out_of_stock != 1" class="stock">-->
           <!--{{stock_msg}}  |  Shipped in 3 -5 business days-->
           <!--<img ng-show="productDetails.Express" title="Items can be shipped in same day"/>-->
           <!--</div>-->
           <!--<div ng-show="out_of_stock == 1" class="out_of_stock">-->
           <!--{{stock_msg}}-->
           <!--&lt;!&ndash;<img ng-show="productDetails.Express" title="Items can be shipped in same day" ng-src="Content/custom_images/express.png" />&ndash;&gt;-->
           <!--</div>-->

           </br>
           <div class="quantityBox">
               <div class="quantityBoxInput">
                   <div class="quantityBoxInputLeft"><label style="width:129px;">Order Quantity</label> <input type="text" style="width:100px;" ng-disabled="true" ng-model="order_quantity" ></div>
                   <div class="quantityBoxInputRight"><label style="width:129px;">Amount* </label><input type="text" style="width:100px;margin-left:4px;" ng-disabled="true" ng-model="order_amount"></div>
               </div>
               <div style="border-top:1px solid #ccc; text-align: right; margin-top: 5px; padding-top: 5px;" class="quantityBoxText"><button  type="button" ng-disabled="order_quantity <1" title="Add to Cart" data-ng-click="addTocart(child_product)">ADD TO CART</button></div>
           </div>
           </br>
           <div class="right-table">
               <h1>ORDER DETAILS </h1>
               <div class="subtotal">
                   <table class="table table-bordered">
                       <tbody>

                       <!--<tr >-->
                           <!--<td class="tdhead">Size</td>-->
                           <!--<td data-ng-repeat="ocp in child_product" style="text-align: center">{{ocp.size}}</td>-->
                       <!--</tr>-->

                       <tr >
                           <td class="tdhead">Size</td>
                           <td data-ng-repeat="ocp in child_product | orderBy:'+id' " style="text-align: center">{{ocp.size}}</td>
                       </tr>



                       <tr >
                           <td class="tdhead">Quantity</td>
                           <td data-ng-repeat="ocp in child_product" style="text-align: center"><input type="text" style="margin-bottom:5px; width:65px;" ng-change="calorderqty()" ng-model="ocp.ord_qty"/></td>

                       </tr>
                       <tr >
                           <td class="tdhead">Stock Info</td>
                       <td data-ng-repeat="ocp in child_product" style="text-align: center">{{ocp.stock_msg}}</td>
                       <!--<td>Pending Approval</td>-->
                   </tr>
                   </tbody>
                 </table>

             </div>

         </div>
         <div ng-show="size_ind" class="coompadidv">
             <h1>PRICE DETAILS </h1>
             <div class="subtotal">
                 <table class="table table-bordered">
                     <thead>
                     <tr>
                         <td class="tdhead" width="100" style="text-align: center; padding: 5px;">Quantity</td>
                         <td class="tdhead" width="70" style="text-align: center; padding: 5px;">Price (INR)</td>
                         <td class="tdhead" width="70" style="text-align: center; padding: 5px;">Discount % </td>
                     <!-- <td class="tdhead" width="120" style="text-align: center; padding: 5px;">In Karnataka</td>
                         <td class="tdhead" style="text-align: center; padding: 5px;">Outside Karnataka</td> -->
                     </tr>
                     </thead>
                     <tbody>
                     <tr  data-ng-repeat="op in product_price">
                         <td style="text-align: center; padding: 5px;">{{op.min_qty}}-{{op.max_qty}}</td>
                         <td style="text-align: center; padding: 5px;">{{op.final_offer}}</td>
                         <td style="text-align: center; padding: 5px;">{{op.discount}}</td>
                         <!--<td style="text-align: center; padding: 5px;">{{op.ka_shipping}}</td>
                         <td style="text-align: center; padding: 5px;">{{op.other_shipping}}</td> -->
                         <!--<td>Pending Approval</td>-->
                     </tr>
                     <tr >
                         <td  width="100" style="text-align: center; padding: 5px;">Above 2000 </td>
                        <td colspan="2" width="100" style="text-align: center; padding: 5px;"> <a href  title="Enquire" data-ng-click="go_to_enquire()" style="color: #ff0000;"><b>CLICK HERE TO ENQUIRE NOW</b></a></td>

                     </tr>
                     </tbody>
                 </table>


             </div>

             <!--<div ng-show="size_ind" class="coompadidv">-->
                 <!--<h1>SELECT A SIZE </h1>-->
                 <!--<buttons-radio style="font-size: xx-small; color: #ff0000; !important" data-toggle="buttons-radio" model="myModel" options="myOptions" sku_sizes="prod_sku_sizes" class="ng-isolate-scope">&lt;!&ndash; ngRepeat: option in options &ndash;&gt;-->

                     <!--<button type="button" class="btn ng-scope ng-binding" ng-class="{active: option == model}" ng-repeat="option in options" ng-click="activate(option)">S </button>&lt;!&ndash; end ngRepeat: option in options &ndash;&gt;-->
                 <!--</buttons-radio>-->
             <!--</div>-->

             <button  type="button"  title="Enquire" data-ng-click="go_to_enquire()">ENQUIRE NOW</button></div>

         </div>
         <div class="coompadidv">

         </div>
         <h6>* Pricing without Logo Customisation.<br> Need more than <span style="color:#328efe">2000</span>
             Call  +91 7022273377 or write to us at :  <strong><span style="color: #328efe;font-style: Italics;">customerfirst@penguinsindia.com</span><strong></h6>


     </div>
    </div>
</div>
<!-- end: product view -->

<!-- Start: product description -->
<div class="loader" ng-show="show_loader">

    <!--    <img src="images/loading_blue.gif"> -->
    <img src="images/LoadingIcon.gif">
</div>
</div>