﻿﻿<div class="reg">
    <div class="container" id="regDiv" ng-controller="registrationController">
        <header>
            <h3>&nbsp</h3>
        </header>
        <div class="row">

            <!--START : LOGIN POPUP-->
            <div class="black_cover">
                <div class="popup_bg">
                    <span class="tab_section">
                       <ul>
                        <li><a href="#/login/login">Login</a></li>
                        <li class="active">Register</li>
                       </ul>
                    </span>

                         <!--REGISTER TAB START-->
                    <form name="frm"  method="post">
                    <div class="tab_content_section">


                        <span>
                            <label>Name</label>
                            <input name="name" type="text" value="" id="first_name" placeholder="First Name" ng-model="registration.first_name" required  />
                             <span ng-show="frm.name.$dirty && frm.name.$error.required">Required!</span>
                            <br>
                            <input name="last_name" type="text" value="" id="last_name" placeholder="Last Name" ng-model="registration.last_name" required/>
                              <span  ng-show="frm.last_name.$dirty && frm.last_name.$error.required">Required!</span>
                        </span>

                        <span>
                            <label>Your Mobile Number</label>
                              <input type="number" value="" name="mobile_no" class="regmob" placeholder="Mobile No"  ng-model="registration.mobile_no" required ng-minlength="10" ng-maxlength="12" />
                              <span style="color:red" ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.required">Required!</span>
                              <span style="color:red" ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.minlength">Please enter a valid mobile number</span>
                              <span style="color:red" ng-show="frm.mobile_no.$dirty && frm.mobile_no.$error.maxlength">Please enter a valid mobile number</span>
                        </span>
                        <span>
                            <label>E-mail Address</label>
                              <input type="email" value="" name="email" ng-model="registration.email_id" class="regmob" placeholder="E-mail"  required/>
                              <span style="color:red" ng-show="frm.email.$dirty && frm.email.$error.required">Required!</span>
                              <span style="color:red" ng-show="frm.email.$dirty && frm.email.$error.email">Please enter a valid email id</span>
                        </span>
                        <span>
                            <label>Password</label>
                            <input type="password" value="" name="password" ng-model="registration.password" required />
                             <span ng-show="frm.password.$dirty && frm.password.$error.required">Required!</span>
                        </span>
                        <span>
                            <label>Confirm Password</label>
                            <input type="password" value="" name="confirm_password" ng-model="registration.confirm_password" required />
                             <span ng-show="frm.password.$dirty && frm.password.$error.required">Required!</span>
                        </span>
                        <table>
                            <tr>
                                <td><label style="width: 70px;padding-top: 4px;">Gender :</label></td> <td></td>
                                <td width="70px">
                                   <label class="radio">
                                   <input type="radio" name="Gender" ng-model="registration.gender" value="1"  ng-required="true">Male</label>
                                </td>
                                <td width="70px">
                                   <label class="radio">
                                   <input type="radio" name="Gender" ng-model="registration.gender" value="2"  ng-required="true">Female</label>
                                </td>
                            </tr>
                            <span ng-show="frm.Gender.$dirty && frm.Gender.$error.required">Required!</span>
                       </table>
                        <!--<span>-->
                        <!--<label>Prove you are not a robot</label>-->
                        <!--<span class="captcha_bg">-->
                        <!--<span class="captcha_image">-->
                        <!--<img src="Content/custom_images/login/captcha.png"/>-->
                        <!--</span>-->
                        <!--<ul class="cptcha_icon">-->
                        <!--<li><a href=""  class="icon1"></a></li>-->
                        <!--<li><a href=""  class="icon2"></a></li>-->
                        <!--<li><a href=""  class="icon3"></a></li>-->
                        <!--</ul>-->
                        <!--<input type="text" value="" class="captcha_input"/>-->

                        <!--</span>-->
                        <!--</span>-->
                        <span>
                            <input ng-disabled="frm.$invalid" type="submit" name="submit" class="btn btn-success" value="Create Account" ng-click="addRegistration()">
                        </span>

                        <!--<span>-->
                            <!--<img src="../../Content/custom_images/Loading.gif" style="width: 50px; height: 50px;" ng-show="isViewLoading" />-->
                        <!--</span>-->
                        <!--<span ng-show="isViewLoading">Processing... </span>-->


                    </div>
                        <div class="loader" ng-show="show_loader">

                            <!--    <img src="images/loading_blue.gif"> -->
                            <img src="images/LoadingIcon.gif">
                        </div>

                    </form>
                    <!--REGISTER TAB END-->

                    <!--FORGOT PASSWORD TAB START-->
                    <!--    <div class="tab_content_section" style="display:none">
                    <form>
                    <span>-->
                    <!--<label>User ID</label>-->
                    <!--<input type="text" value="" name="userid"/>-->
                    <!--</span>-->
                    <!--<span>-->
                    <!--<label>Company E-mail Address</label>-->
                    <!--<input type="text" value="" name="email" />-->
                    <!--</span>-->
                    <!--<span>-->
                    <!--<label>Prove you are not a robot</label>-->
                    <!--<span class="captcha_bg">-->
                    <!--<span class="captcha_image">-->
                    <!--<img src="Content/custom_images/login/captcha.png"/>-->
                    <!--</span>-->
                    <!--<ul class="cptcha_icon">-->
                    <!--<li><a href=""  class="icon1"></a></li>-->
                    <!--<li><a href=""  class="icon2"></a></li>-->
                    <!--<li><a href=""  class="icon3"></a></li>-->
                    <!--</ul>-->
                    <!--<input type="text" value="" class="captcha_input"/>-->

                    <!--</span>-->
                    <!--</span>-->
                    <!--<span>-->
                    <!--<input type="submit" value="Submit">-->
                    <!--</span>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--FORGOT PASSWORD TAB END-->

                </div>
            </div>
            <!--END : LOGIN POPUP-->
            <!--<div class="loader" ng-show="show_loader">-->

                <!--&lt;!&ndash;    <img src="images/loading_blue.gif"> &ndash;&gt;-->
                <!--<img src="images/LoadingIcon.gif">-->
            <!--</div>-->



            <!-- -->
        </div>
    </div>
</div>
