﻿﻿<div class="reset ">
    <div class="container" id="regDiv" ng-init="resetPwdCheck()">
        <header>

        </header>
        <div class="row">

            <!--START : LOGIN POPUP-->
            <div class="black_cover">
                <div class="popup_bg">
                    <span class="tab_section">
                        <h3>Reset Password</h3>
                    </span>
                    <p class="clear"></p>

                    <div class="tab_content_section">

                        <span>
                            <label>Password</label>
                            <input type="password" value="" name="password" ng-model="registration.password" />

                            <label>Confirm Password</label>
                            <input type="password" value="" name="conpassword" ng-model="registration.confrmpwd" />
                        </span>

                        <span>
                            <input type="button" value="Reset" ng-click="changePassword()">
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
