<div class="container">
    <header>
        <!--<h3> &nbsp</h3>-->
    </header>
    <br/>

    <!-- Start: category details -->
    <div class="container cat-details">
        <span  class="breadcums_bg">
                        <ul data-ng-repeat="cat in cats">
                            <li>
                                <a ng-show="cat.level == 1" class="breadcums_bg" href="#/main/cat1.html#/{{cat.id}}"> {{cat.Name}}  </a>
                                <a ng-show = "cat.level > 1" class="breadcums_bg" href="#/main/cat/{{cat.id}}"> {{cat.Name}}  </a>
                            </li>
                            <li> > </li>
                        </ul>

        </span>
        <div class="cat_body_container">

            <span class="right_side">
            <span class="big_image">
                    <img ng-src="{{cat_image}}"/>
            </span>

            <ul class="category-details">
                <li data-ng-repeat="product in productList | orderBy:sortorder" ng-animate="'animate'">
                <span class="cat_image">

                <a href="#/main/prod/{{product.id}}">
                    <img style="width: 320px;" ng-src="{{product.image_urls[0].link}}"/>
                </a>

               <a href="" data-ng-click="enqnow(product.id )" class="quick-buy">ENQUIRE NOW</a>
                <!--<span class="add_cart_bg">-->
                <!--<a href="" class="add_btn" data-ng-click="addTocart(product)">ADD TO CART</a>-->
                    <!--<div class="quick_bg">-->
                        <!--<!--<span class="rating">2</span>-->
                        <!--<a href="" data-ng-click="openQuickBuy(product.id)" class="quick-buy">QUICK BUY</a>-->
                    <!--</div>-->
                <!--</span>-->
               </span>
                    <p class="cat_title">{{product.Name}}</p>
                    <ul >

                        <li  ng-show="store_type != 'P' && filter_display!='P'">
                            <span  class="mrp">MRP: Rs:{{product.mrp}}</span>
                        </li>

                    </ul>
                    <ul class="offer">
                        <li ng-show="store_type != 'P' && filter_display!='P'">
                            Offer: Rs: {{product.min_price}} - {{product.max_price}}  </li>

                    </ul>
                </li>

            </ul>
        <!--<a href="#" class="show_more">SHOW MORE PRODUCTS<span class="show_more_arrow"></span></a>-->
        </span>

        </div>
        <!-- end: category details -->
    </div>
</div>