
<div class="container">
    <header>
        <!--<h3>&nbsp</h3>-->
    </header>
    <br/>
    <div class="container checkout">

        <span class="title">Shipping Address</span>
        <table class="checkout_table">
            <tr>
                <td width="316">

                    <span style="margin-left: 10px;" class="title_table">Shipping Address</span>
                    <div style="height: 140px;">

                        <a class="des" href="">{{user_shipping_list.fullname}}<br />
                            {{user_shipping_list.address}} {{user_shipping_list.street}}
                            <br />
                            {{user_shipping_list.city}} {{user_shipping_list.state}}
                            <br />
                            {{user_shipping_list.zipcode}}<br />
                            Mobile: {{user_shipping_list.mobile_no}}<br />
                            <br />
                        </a>


                    </div>
                </td>
                <td width="188">
                    <span class="title_table">Enter sales Details</span>
                    <!--<form class="ship_add_form" method="post">-->
                    <div class="sales_entry">
				<span>
					<label>Name*</label>
                    <br>
					<input type="text" ng-model="selected_address.sales_person_name" value=""/>
				</span>
				<span>
                    <br>
					<label>Mobile No*</label>
                    <br>
					<input type="text" ng-model="selected_address.sales_person_mobile" value=""/>
				</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="288">
                    <span style="margin-left: 10px;" class="title_table">Billing address</span>
                    <!--<form class="ship_add_form" method="post">-->
                    <div style="margin-left: 11px;" class="ship_add">
				<span>
					<label>Name*</label>
                    <br>
					<input type="text" ng-model="selected_address.billing_name" value=""/>
				</span>
                <span>
                    <br>
					<label>Address*</label>
                    <br>
					<textarea type="text"  ng-model="selected_address.address" value=""></textarea>
				</span>
				<span>
                    <br>
					<label>Locality | Town*</label>
                    <br>
					<input type="text" ng-model="selected_address.locality" value=""/>
				</span>
                <span>
                    <br>
					<label>City | District*</label>
                    <br>
					<input type="text" ng-model="selected_address.city" value=""/>
				</span>
				<span>
                    <br>
					<label>Company*</label>
                    <br>
					<input type="text" ng-model="selected_address.company" value=""/>
				</span>

                <span>
                    <br>
			    <label>Pincode*</label>
                        <br>
			    <input type="text" ng-model="selected_address.pin" value=""/>
				</span>

				<span>
                    <br>
					<label>State*</label>
                      <br>
					<!--<input type="text" ng-model="selected_address.state" value=""/>-->
                    <select ng-model="selected_address.state" ng-options="state.text as state.text for state in state_list" class="ng-pristine ng-valid">

                    </select>

				</span>

				<span>
                    <br>
					<label>Mobile No*</label>
                    <br>
					<input type="number" ng-model="selected_address.mobile_no" value=""/>
				</span>
                    </div>
                </td>
                <td data-ng-controller="CartCtrl">
                    <span class="title_table">Order summary <p>({{cart_size}} items)</p></span>
                    <div class="ship_add">
                        <ul class="order">
                            <li data-ng-repeat="cart_item in cart">
                                <span class="img_con"><img src= "{{cart_item.parent_prod_detail.image_urls[0].zoom_link}}"></span>
                                    <span class="right_des">
                                    <!--<span class="price" ng-show="store_type != 'P'">₹{{cart_item.final_offer * cart_item.quantity}}</span>
                                    <span class="price" ng-show="store_type == 'P'">{{cart_item.final_offer * cart_item.quantity * conv_ratio}} Points</span> -->
                                    <span class="prd_title">Name: {{cart_item.parent_prod_detail.Name}}</span>
                                    <span class="prd_code">Code: {{cart_item.parent_prod_detail.sku}}</span>
                                    <span class="prd_code">Quantity : {{cart_item.order_quantity}}</span>
                                    <span class="prd_code">Amount : {{cart_item.order_amount}}</span>
                                    <!--<br/>QTY:-->
                                        <!--<input type="text" data-ng-model="cart_item.order_quantity" value="{{cart_item.order_quantity}}" class="qt"/>-->
									<!--<br/>Amount: 	-->
										<!--<input type="text" data-ng-model="cart_item.order_amount" value="{{cart_item.order_amount}}" class="qt"/>-->
										<!---->


                                    <img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="../Content/custom_images/express.png" />
                                </span>
                                </span>
                            </li>
                            <span class="scroll_bg"><span class="scroll"></span></span>
                        </ul>
                    </div>
                    <!-- <span class="shipping_r">Shipping<p style="margin-right: 10px;">₹  {{shipping_charge}}</p></span>-->
                    <!-- <span class="shipping_r" ng-show="store_type == 'P'">Shipping<p>{{shipping * conv_ratio}}</p></span> -->
                    <!--<span class="order_total" ng-show="false"> order TOTAL<p> ₹ {{total_order_amount}}</p></span>-->
                    <span class="order_total" ng-show="store_type != 'P'"> order TOTAL<p style="margin-right: 10px;"> Rs: {{total_cart_amount}}</p></span>
                    <!-- <span class="order_total" ng-show="store_type == 'P'"> order TOTAL<p> {{total_amount_billable * conv_ratio}} Points</p></span> -->
                </td>
            </tr>

        </table>
        <p class="save_continue_bg">
            <input type="submit" style="margin-bottom: 10px;margin-right: 10px;" data-ng-click="save_data()" value="SAVE & CONTINUE" class="btn_all"/>
        </p>

        <div class="loader" ng-show="show_loader">

            <!--    <img src="images/loading_blue.gif"> -->
            <img src="images/LoadingIcon.gif">
        </div>


    </div>
    <!-- end: CHECKOUT -->


    <!-- End: content -->



</div>
</div>




















