
<div class="container">
    <header>
        <!--<h3> &nbsp</h3>-->
    </header>
    <br/>
    <!-- Start: category details -->
    <div class="container cat-details">
        <span  class="breadcums_bg">
            <!--<ul data-ng-repeat="cat in cats">-->
                <!--<li>-->
                    <!--<a ng-show="cat.level == 1" class="breadcums_bg" href="#/main/cat1.html#/{{cat.id}}"> {{cat.Name}}  </a>-->
                    <!--<a ng-show = "cat.level > 1" class="breadcums_bg" href="{{cat.link}}"> {{cat.Name}}  </a>-->
                <!--</li>-->
                <!--<li> > </li>-->
            <!--</ul>-->

        </span>
        <div class="cat_body_container">
            <div class="left_side">
                <a href="#" class="filterby_text">Filter By</a>
                <a href="#" class="reset_all">RESET ALL</a>
                <ul class="block">
                    <li>
                        <div   >
                            <span class="block_title">
                                <span class="left-cat-title">Brands </span>
                                <a href="" class="refresh" data-ng-click="refresh_filters()"></a>
                            </span>

                            <span ng-repeat="brand_name in brand_filter" class="block_content">
                                <input  type='checkbox' value="{{brand_name}}"   check-list='checked_vals'
                                        data-ng-click="apply_filter('brand',brand_name.toLowerCase())">
                                     <label>{{brand_name}}  </label>
                                </input>
                            </span>

                        </div>
                    </li>
                    <li>
                        <span class="block_title">
                            <span ng-show="store_type != 'P'" class="left-cat-title">Price Range</span>
                            <a href="" class="refresh" data-ng-click="refresh_filters()"></a>
                        </span>
                        <span class="block_content">
                            <div class="price-input">
                                <span ng-show="store_type != 'P'" class="rupee">₹</span>
                                <input type="text" ng-model="min_price_sku" class="ng-pristine ng-valid"></div>
                            <div class="price-input">
                                <span ng-show="store_type != 'P'" class="rupee">₹</span>
                                <input type="text" ng-model="max_price_sku" class="ng-pristine ng-valid"></div>
                            <input type="submit" data-ng-click="apply_filter('price')" value="" class="pricerange_btn">
                        </span>
                    </li>
                    <li>
                        <div>
                            <span class="block_title">
                                <span class="left-cat-title">Shipping Days </span>
                                <a href="" class="refresh" data-ng-click="refresh_filters()"></a>
                            </span>
                            <span ng-repeat="sd in shipping_days_filter" class="block_content">
                                <input  type='checkbox' value="{{sd}}"   check-list='checked_vals'
                                        data-ng-click="apply_filter('shipping_days',sd)">
                                     <label>{{sd}}  </label>
                                </input>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right_side" style="width: 900px;float: right;">
                <span class="big_image">
                        <img ng-src="{{cat_image}}"/>
                </span>
                <ul class="category-details">
                    <li data-ng-repeat="product in productList | orderBy: product.min_price" ng-animate="'animate'">
                        <span class="cat_image">
                            <a href="#/main/prod/{{product.id}}"><img style="width: 320px;" ng-src="{{product.image_urls[0].link}}"/></a>
                            <a href="" data-ng-click="enqnow(product.id )" class="quick-buy">ENQUIRE NOW</a>
                        </span>
                        <p class="cat_title">{{product.Name}}</p>
                        <ul>
                            <li ng-show="store_type != 'P' && filter_display!='P'">
                                <span  class="mrp">MRP: Rs:{{product.mrp}}</span>
                            </li>
                        </ul>
                        <ul class="offer">
                            <li ng-show="store_type != 'P' && filter_display!='P'">
                                Offer: Rs: {{product.min_price}} - {{product.max_price}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- end: category details -->
    </div>

</div>
